.pirsonChat {
  height: 89.2vh;
  border-radius: 15px;
  outline: 2px solid #e8e8e8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.pirsonChat .emoji-holder {
  width: fit-content;
  z-index: 100;
  scale: 0.5;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
}
.pirsonChat .emoji-holder.active {
  scale: 1;
  visibility: visible;
  opacity: 1;
}
.pirsonChat .mentionMenu {
  position: absolute;
  left: 0;
  bottom: calc(100% - -8px);
}
.pirsonChat .mentionMenu .user {
  justify-content: unset;
  gap: 10px;
  cursor: pointer;
}
.pirsonChat .mentionMenu .user .info {
  flex-direction: column;
  align-items: flex-start;
  gap: 1px;
}
.pirsonChat .mentionMenu .user .info span {
  color: var(--paragraph-color);
  font-size: 14px;
}
.pirsonChat .mentionMenu img {
  border-radius: 50%;
}
.pirsonChat .mentionMenu .holder-wrap {
  display: flex;
  gap: 2px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.pirsonChat .mentionMenu h1 + .holder-wrap {
  font-size: 16px;
  margin-bottom: 4px;
  padding: 0 5px;
}
.pirsonChat .mentionMenu .holder-wrap .user {
  background: var(--main-color);
  color: white;
  padding: 5px 7px;
  border-radius: 4px;
  font-size: 13px;
}
.pirsonChat > .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #dedede;
  padding-right: 15px;
  background: var(--body-color);
  transition: 0.3s;
}
.pirsonChat > .top:has(.user:hover) {
  background: var(--section-color);
}
.pirsonChat .top .user {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  flex: 1;
  cursor: pointer;
  padding: 8px 15px;
  height: 56px;
}
.pirsonChat .top .user img {
  color: transparent;
  border-radius: 50%;
  object-fit: cover;
}
.pirsonChat > .actions {
  position: relative;
  display: flex;
  gap: 1px;
  align-items: flex-end;
  border-top: 2px solid #dedede;
  padding: 10px;
  background: var(--body-color);
}
.pirsonChat .tools {
  display: flex;
}
.pirsonChat .tools > button,
.pirsonChat .actions > button {
  display: flex;
  width: 50px;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  font-weight: 500;
  color: var(--title-color);
  position: relative;
}
.pirsonChat .tools > button:hover,
.pirsonChat .actions > button:hover {
  background: var(--border-color);
}
.pirsonChat .tools > button:last-child {
  width: unset;
  padding: 10px 14px;
}
.pirsonChat .tools > button > svg,
.pirsonChat .actions > button > svg {
  color: var(--title-color);
  font-size: 18px;
}
.pirsonChat .tools button small {
  position: absolute;
  right: 14px;
  top: 24px;
  color: var(--main-color);
  font-weight: 800;
  font-size: 12px;
  transition: 0.3s;
}
.pirsonChat .tools button:hover small {
  color: var(--title-color);
}



.pirsonChat .overViewMenu {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.pirsonChat .overViewMenu .left {
  background: var(--body-color);
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 10px 8px;
}
.pirsonChat .overViewMenu .left li {
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 16px;
  padding: 10px 14px;
  border-radius: 6px;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 500;
  overflow: hidden;
}
.pirsonChat .overViewMenu .left li:hover,
.pirsonChat .overViewMenu .left li.active {
  background: var(--section-color);
}
.pirsonChat .overViewMenu .left li::before {
  content: '';
  position: absolute;
  left: 0;
  width: 4px;
  top: 50%;
  height: 0;
  transform: translateY(-50%);
  background: var(--main-color);
  transition: 0.3s;
}
.pirsonChat .overViewMenu .left li.active::before {
  height: 100%;
}

.pirsonChat .overViewMenu .right {
  width: 330px;
  min-height: 360px;
  padding: 14px;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.pirsonChat .overViewMenu .right > div {
  max-height: 390px;
  overflow: auto;
  padding-right: 10px;
}
.pirsonChat .overViewMenu .right h1 {
  font-size: 20px;
}

.pirsonChat .overViewMenu .right .overview {
  height: 100%;
}
.pirsonChat .overViewMenu .right .overview .center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 17px;
  gap: 0px;
}
.pirsonChat .overViewMenu .right .overview img {
  border-radius: 50%;
  width: 31%;
  height: 31%;
}
.pirsonChat .overViewMenu .right .overview h4 {
  font-size: 23px;
}
.pirsonChat .overViewMenu .right .overview label {
  color: var(--title-color);
  margin-bottom: 2px;
  display: flex;
}
.pirsonChat .overViewMenu .right .overview label + p {
  font-size: 15px;
}
.pirsonChat .overViewMenu .right .overview label + p {
  font-size: 15px;
}
.pirsonChat .overViewMenu .right .overview .btn-holder {
  margin: 16px 0 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.pirsonChat .overViewMenu .right .overview .btn-holder button {
  font-size: 14px;
  padding: 9px;
  text-transform: capitalize;
  border-radius: 6px;
  transition: 0.3s;
  background: var(--border-color);
}
.pirsonChat .overViewMenu .right .overview .btn-holder button:hover {
  background: var(--main-color);
  color: white;
}
.pirsonChat .overViewMenu .right .overview .btn-holder .row {
  display: flex;
  gap: 5px;
}
.pirsonChat .overViewMenu .right .overview .btn-holder .row button {
  width: 50%;
}
.pirsonChat .overViewMenu .right .overview .btn-holder .row button:hover {
  background: var(--red-color);
  color: white;
}

.pirsonChat .overViewMenu .right .media {
  display: grid;
  gap: 6px;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));

}
.pirsonChat .overViewMenu .right .media .msg {
  height: 94px;
  object-fit: cover;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
}
.pirsonChat .overViewMenu .right .media .msg.selected {
  border: 3px solid var(--main-color);
}
.pirsonChat .overViewMenu .right .media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}
.pirsonChat .overViewMenu .right .media .msg:hover img {
  opacity: 0.85;
}
.pirsonChat .overViewMenu .right .media label {
  position: absolute;
  right: -21px;
  top: 7px;
  transition: 0.1s;
}
.pirsonChat .overViewMenu .right .media .msg:hover label,
.pirsonChat .overViewMenu .right .media label.active {
  right: 7px;
}
.custom-checkbox {
  display: flex;
  width: 18px;
  height: 18px;
  border: 2px solid var(--title-color);
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  background: var(--section-color);
}
.custom-checkbox::after {
  background-color: var(--title-color);
}



.pirsonChat .actions .big-holder {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0 4px;
}
.pirsonChat .actions .big-holder .reply {
  background: var(--section-color);
  padding: 8px 15px;
}
.pirsonChat .actions .big-holder .reply::before {
  left: 1px;
}
.pirsonChat .actions .big-holder .close {
  position: absolute;
  right: -9px;
  top: 50%;
  transform: translateY(-50%);
  background: var(--red-color);
  color: white;
  border-radius: 50%;
  padding: 2px;
  font-size: 19px;
}
.pirsonChat .actions textarea {
  padding: 10px 12px;
  height: 44px;
  max-height: 105px;
  resize: none;
  border: 2px solid #dedede;
  color: var(--title-color);
  letter-spacing: 0.3px;
  font-size: 16px;
  border-radius: 7px;
  transition: 0.3s;
}
.pirsonChat .actions textarea:focus,
.pirsonChat .actions textarea:not(:placeholder-shown) {
  outline: none;
  border-color: var(--main-color);
}
.pirsonChat .messages {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}
.pirsonChat > img {
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0px;
  top: 0px;
  color: transparent;
  z-index: -1;
  opacity: 0.08;
  object-fit: fill;
}

.pirsonChat .top .pin-holder {
  position: absolute;
  top: 56px;
  left: 0;
  width: 100%;
  padding: 7px 16px;
  background: #ffffffcf;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: space-between;
  z-index: 80;
  transition: 0.3s;
  cursor: pointer;
}
.pirsonChat .top .pin-holder:hover {
  background: #f1f1f1c4;
}
.pirsonChat .top .pin-holder .left {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 12px;
}
.pirsonChat .top .pin-holder .left .pagin {
  display: flex;
  flex-direction: column;
  gap: 1px;
  height: 60%;
  left: 18px;
  margin-right: 4px;
  position: absolute;
}
.pirsonChat .top .pin-holder .left .pagin span {
  width: 3px;
  flex: 1 1;
  border-radius: 3px;
  background: var(--paragraph-color);
}
.pirsonChat .top .pin-holder .left .pagin span.active {
  background: var(--main-color);
}
.pirsonChat .top .pin-holder .left svg {
  color: var(--title-color);
  font-size: 16px;
}
.pirsonChat .top .pin-holder .left h3 {
  font-size: 15px;
  font-weight: 500;
  color: var(--main-color);
}
.pirsonChat .top .pin-holder .left p {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 500;
  font-size: 14px;
}
.pirsonChat .top .pin-holder .right {
  color: var(--title-color);
  font-weight: 500;
  border-radius: 5px;
  transition: 0.3s;
  padding: 8px 14px;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}
.pirsonChat .top .pin-holder .right:hover {
  background: var(--body-color);
}
.pirsonChat .top .pin-holder:hover .right {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}

.pirsonChat .messages .msg {
  padding: 14px 40px;
  display: flex;
  align-items: center;
  gap: 14px;
  transition: background 0.3s;
}
.pirsonChat.selectMode .messages .msg:not(.middle) {
  background: #f1740d17;
  border-bottom: 1px solid #0000001c;
}
.pirsonChat.selectMode .messages .msg.selected {
  background: #f1740d69;
}
.pirsonChat .messages .msg .body {
  background: var(--body-color);
  padding: 10px 13px;
  border-radius: 5px;
  max-width: 40%;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 4px;
  z-index: 2;
  outline: 2px solid #dedede;
  position: relative;
}
.pirsonChat .messages .msg .body .top {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.pirsonChat .messages .msg .top small {
  font-size: 12px;
  color: var(--paragraph-color);
  font-weight: 400;
}
.pirsonChat .messages .msg.me .top {
  justify-content: flex-end;
  margin-top: -2px;
}
.pirsonChat .messages .msg.me {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  justify-content: flex-start;
}
.pirsonChat .messages .msg.me .body::before {
  content: '';
  position: absolute;
  right: -2px;
  top: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(280deg, #ff9b30 28%, #ff6b14 93%);
}
.pirsonChat .messages .msg.me .body::after {
  content: "";
  position: absolute;
  top: -2px;
  right: -9px;
  width: 10px;
  height: 10px;
  background-color: var(--main-color);
  border-radius: 0 0 20px;
}
.pirsonChat .messages .msg .body .reacts {
  position: absolute;
  bottom: -21px;
  height: 28px;
  display: flex;
  align-items: center;
  left: 10px;
  border-radius: 50px;
  padding: 0px 6px;
  font-size: 20px;
  letter-spacing: -0.3px;
  cursor: pointer;
  background: var(--body-color);
  border: 1px solid var(--border-color);
}
.pirsonChat .messages .msg .body .reacts .counter {
  color: var(--title-color);
  font-weight: bold;
  font-size: 15px;
  margin-right: 2px;
  font-family: sans-serif;
}
.pirsonChat .messages .msg.me .body .reacts {
  left: unset;
  right: 10px;
}
.pirsonChat .messages .msg .body > div {
  color: var(--paragraph-color);
}
.focusedMsg {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  background: #ffffff00;
  scale: 0.1;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
  border-radius: 50%;
  transition: scale 0.3s, border-radius 0.3s, opacity 0.3s, visibility 0.3s, background 0.8s;
}
.focusedMsg.active {
  scale: 1;
  opacity: 1;
  visibility: visible;
  background: #ffffff4f;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 0;
}
.focusedMsg .hold {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  flex: 1;
  max-height: 90%;
}
.focusedMsg img {
  max-width: 80%;
  max-height: 80%;
  border-radius: 7px;
}
.focusedMsg .closeMsg {
  display: flex;
  position: absolute;
  right: 1%;
  top: 2%;
  width: 35px;
  height: 35px;
  background: var(--section-color);
  padding: 5px;
  border-radius: 5px;
}
.focusedMsg .closeMsg:hover {
  background: var(--red-color);
  color: white;
}
.focusedMsg p {
  background: #d5d5d596;
  padding: 8px 14px;
  border-radius: 7px;
  max-width: 75%;
  max-height: 144px;
  overflow: auto;
}

.focusedMsg .swiper {
  width: 100%;
}
.focusedMsg .swiper .swiper-slide {
  width: fit-content;
}
.focusedMsg .swiper .swiper-slide img {
  min-width: 100%;
  height: 59px;
  border-radius: 4px;
  transition: 0.3s;
}
.focusedMsg .swiper .swiper-slide img.active {
  border-bottom: 4px solid var(--main-color);
}

.pirsonChat .messages .msg .body > img {
  max-width: 100%;
  max-height: 535px;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 5px;
}
.pirsonChat .reply {
  background: var(--section-color);
  padding: 8px 12px;
  border-radius: 4px;
  margin-left: -2px;
  opacity: 0.9;
  position: relative;
  cursor: pointer;
}
.pirsonChat .reply:has(img),
.pirsonChat .reply:has(img) > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.pirsonChat .reply:has(img) > div {
  align-items: center;
}
.pirsonChat .reply::before {
  content: '';
  position: absolute;
  left: -1px;
  top: 0;
  height: 100%;
  width: 4px;
  background: linear-gradient(280deg, #ff9b30 28%, #ff6b14 93%);
  border-radius: 5px;
}
.pirsonChat .reply .left {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
}
.pirsonChat .reply .left svg {
  display: flex;
  gap: 4px;
  font-size: 14px;
  font-weight: 500;
}
.pirsonChat .reply img {
  width: 56px;
  height: 37px;
  border-radius: 5px;
  object-fit: cover;
}
.pirsonChat .reply h5 {
  font-family: sans-serif;
  font-weight: 700;
}
.pirsonChat .reply p {
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.pirsonChat .messages .msg .body .interact {
  position: absolute;
  background: transparent;
  width: 65px;
  height: 100%;
  top: 0;
  right: 0;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: 0.2s ease-in-out;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}
.pirsonChat:not(.selectMode) .messages .msg .body:hover .interact {
  right: -65px;
  z-index: 1;
  opacity: 1;
  visibility: visible;
}
.pirsonChat .messages .msg .interact .holder {
  display: flex;
  background: #ffffff;
  border: 2px solid #dedede;
  padding: 4px 7px;
  gap: 3px;
  flex-direction: row-reverse;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}
.pirsonChat .messages .msg .interact .holder:hover {
  scale: 1.1;
}
.pirsonChat .messages .msg.me .body .interact {
  right: unset;
  left: 0;
  justify-content: flex-start;
}
.pirsonChat .messages .msg.me .body:hover .interact {
  right: unset;
  left: -65px;
}
.pirsonChat .messages .msg.me .interact .holder {
  flex-direction: row;
}

.pirsonChat .messages .msg.middle {
  justify-content: center;
}
.pirsonChat .messages .msg.middle .body {
  position: relative;
  padding: 5px 8px;
  color: #626262;
  cursor: pointer;
}
.pirsonChat .messages .msg.middle {
  padding: 8px;
}
.pirsonChat .messages .msg.middle .body > div {
  font-size: 13px;
  text-transform: capitalize;
}
.pirsonChat .messages .msg.middle small {
  position: absolute;
  top: 0;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  font-size: 12px;
  left: 50%;
  transform: translateX(-50%);
  outline: 2px solid #dedede;
  background: var(--body-color);
  width: max-content;
  padding: 6px 9px;
  border-radius: 5px;
  cursor: auto;
  transition: 0.3s;
}
.pirsonChat .messages .msg.middle .body:hover small {
  top: -32px;
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

.pirsonChat .messages .msg.history {
  position: unset;
  top: 55px;
  z-index: 10;
  transition: 0.3s;
}
.pirsonChat .messages .msg.sticky {
  position: sticky !important;
  opacity: 1;
  visibility: visible;
  transition: 0.3s;
}
.pirsonChat .messages .msg.sticky.hidden {
  opacity: 0;
  visibility: hidden;
}
.pirsonChat .messages .msg.sticky.hidden:hover {
  opacity: 1;
  visibility: visible;
}
.pirsonChat .messages .msg.history .body {
  box-shadow: 0px 0px 2px 2px #ff8e3161;
  outline: none;
  width: 90px;
  text-align: center;
}

.pirsonChat .messages .msg .interact svg  {
  color: var(--title-color);
}
.pirsonChat .messages .msg .interact:hover svg {
  
}

body:has(.pirsonChat) .open-close {
  display: none;
}
.input[type="checkbox"] {
  display: none;
}


  /* Style for the custom checkbox */
.custom-checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid var(--title-color);
  border-radius: 4px;
  position: relative;
  cursor: pointer;
}

  /* Style for the custom checkmark */
.custom-checkbox::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: var(--title-color);
  border-radius: 2px;
  opacity: 0;
}

  /* Show the checkmark when checkbox is checked */
.input[type="checkbox"]:checked + .custom-checkbox::after {
  opacity: 1;
}

.pirsonChat .messages .messageAction {
  width: 255px;
  gap: 1px;
  padding: 8px 0;
}
.pirsonChat .messages .messageAction .emojes {
  display: flex;
  align-items: center;
  gap: 3px;
  margin: 3px 15px 0;
}
.pirsonChat .messages .messageAction .emojes > * {
  min-width: 30px;
  min-height: 30px;
  padding: 2px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}
.pirsonChat .messages .messageAction .emojes img:hover {
  scale: 1.3;
}
.pirsonChat .messages .messageAction .emojes > svg {
  padding: 4px;
}
.pirsonChat .messages .messageAction .emojes > svg:hover {
  padding: 6px;
  background: var(--main-color);
  color: white;
}
.pirsonChat .messages .forwordMenu {
  width: 340px;
}
.pirsonChat .messages .forwordMenu h1 {
  font-size: 18px;
  margin: 10px 15px -2px;
}
.pirsonChat .messages .forwordMenu .search-chosen {
  background: var(--body-color);
  margin: 10px;
  border-radius: 5px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.pirsonChat .messages .forwordMenu ul.result {
  display: flex;
  gap: 2px;
  flex-wrap: wrap;
  padding: 10px 10px 0;
}
.pirsonChat .messages .forwordMenu ul li {
  background: var(--main-color);
  color: white;
  padding: 5px 7px;
  border-radius: 4px;
  font-size: 13px;
}
.pirsonChat .messages .forwordMenu input {
  border-bottom: 2px solid var(--border-color);
  border-radius: 0;
  padding: 9px 15px;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Rubik';
  transition: 0.3s;
}
.pirsonChat .messages .search-chosen:has(.result) input {
  padding: 7px 15px;
}
.pirsonChat .messages .forwordMenu input:focus,
.pirsonChat .messages .forwordMenu input:not(:placeholder-shown) {
  border-color: var(--main-color);
}
.pirsonChat .messages .forwordMenu .mainbtn {
  background: var(--main-color);
  color: white;
  padding: 12px;
  border-radius: 7px;
  font-family: 'Rubik';
  font-size: 14px;
  margin: 0 10px 10px; 
}
.pirsonChat .messages .forwordMenu h4 {
  margin: 12px 16px 10px;
  font-size: 14px;
  color: var(--paragraph-color);
}
.pirsonChat .messages .forwordMenu .holder {
  display: flex;
  flex-direction: column;
  gap: 1px;
  padding: 0 7px 10px;
  overflow: auto;
  max-height: 362px;
}
.pirsonChat .messages .forwordMenu .holder .chat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 11px;
  border-radius: 7px;
  gap: 10px;
  transition: 0.3s;
  cursor: pointer;
}
.pirsonChat .messages .forwordMenu .holder .chat:hover {
  background: var(--border-color);
}
.pirsonChat .messages .forwordMenu .holder img {
  border-radius: 50%;
  object-fit: cover;
}
.pirsonChat .messages .forwordMenu .holder .name-lastmessage {
  flex: 1;
}
.pirsonChat .messages .forwordMenu .holder .name-lastmessage h4 {
  margin: 0;
  color: var(--title-color);
}
.pirsonChat .messages .forwordMenu .holder .name-lastmessage p {
  font-size: 15px;
}
.pirsonChat .messages .forwordMenu .holder .chat label {
  display: flex;
  scale: 0.75;
}
.pirsonChat .messages .forwordMenu .holder .chat label > span {
  border-color: var(--paragraph-color);
}
.sideMenu {
  position: fixed;
  z-index: 100;
  background: var(--section-color);
  border-radius: 8px;
  box-shadow: 0px 0px 15px 0px #b8b8b8;
  display: flex;
  flex-direction: column;
  scale: 0.5;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, scale 0.3s;
}
.sideMenu.active {
  scale: 1;
  opacity: 1;
  visibility: visible;
}
.pirsonChat .messages .messageAction hr {
  margin: 5px 0;
}
.pirsonChat .messages .messageAction button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px;
  border-radius: 6px;
  margin: 0 10px;
  transition: 0.3s;
}
.pirsonChat .messages .messageAction button:hover {
  background: var(--border-color);
}
.pirsonChat .messages .messageAction button.danger:hover {
  color: white;
  background: var(--red-color);
}
.pirsonChat .messages .messageAction button svg {
  font-size: 17px;
}
.pirsonChat .messages .messageAction button.danger:hover svg {
  color: white;
}

.MenuOfUsers {
  width: 280px;
  padding: 6px;
  padding-right: 0;
}
.MenuOfUsers h1 {
  font-size: 18px;
  padding: 8px 5px 3px;
}
.MenuOfUsers .holder {
  max-height: 252px;
  overflow: auto;
  padding-right: 6px;
}
.MenuOfUsers .user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 9px;
  border-radius: 9px;
  transition: 0.3s;
}
.MenuOfUsers .user:hover {
  background: var(--border-color);
}
.MenuOfUsers .user .info {
  display: flex;
  align-items: center;
  gap: 7px;
}
.MenuOfUsers .info img {
  border-radius: 50%;
  object-fit: cover;
}
.MenuOfUsers .info h4 {
  font-weight: 500;
  font-size: 15px;
}
.pirsonChat .reactsMenu span {
  font-size: 24px;
}
.pirsonChat .reactsMenu span.counter {
  font-size: 16px;
  font-weight: 600;
  color: var(--title-color);
  margin-left: 1px;
}








/*! Media */

@media (max-width: 1700px) {

}
@media (max-width: 1600px) {

  .pirsonChat .messages .msg .body {
    max-width: 43%;
  }
}
@media (max-width: 1400px) {
  .pirsonChat .messages .msg .body {
    max-width: 48%;
  }
}
@media (max-width: 1300px) {
  .pirsonChat .messages .messageAction button {
    padding: 10px 8px;
  }
}
@media (max-width: 1200px) {
  .pirsonChat .messages .msg .body {
    max-width: 56%;
  }
}
@media (max-width: 1100px) {
  
}
@media (max-width: 1000px) {
  
}
@media (max-width: 992px) {
  .pirsonChat {
    height: 91.5vh;
  }
  .pirsonChat .messages .msg .body {
    max-width: 75%;
  }
}
@media (max-width: 786px) {
  .pirsonChat {
    height: 100vh;
    border-radius: 0;
  }
  body:has(.pirsonChat) header {
    display: none;
  }
  .pirsonChat .tools > button, .pirsonChat .actions > button {
    width: 40px;
  }
  .pirsonChat .messages .msg {
    padding: 14px;
  }
  .focusedMsg .closeMsg {
    right: 2%;
  }
  .focusedMsg img {
    max-width: 96%;
  }
  .pirsonChat .custom-checkbox {
    width: 18px;
    height: 18px;
  }
}
@media (max-width: 500px) {
  
}
@media (max-width: 360px) {
  
}