body:has(.marketplace) > main {
  max-width: 100%;
}
body:has(.marketplace) header {
  margin-left: 12px;
}
.marketplace {
  display: flex;
  gap: 10px;
  padding: 15px;
  padding-right: 0;
}
.marketplace .sideSection {
  border-radius: 8px;
  background: var(--body-color);
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 2px;
  padding-top: 15px;
  min-width: 300px;
  max-width: 100%;
  height: fit-content;
  position: sticky;
  top: 10px;
}
.marketplace .sideSection hr {
  background: #e0e0e0;
  height: 2px;
}
.marketplace .sideSection .main-title {
  margin-bottom: 5px;
}
.marketplace .sideSection .main-btns li {
  font-size: 15px !important;
  padding: 12px 10px !important;
  color: var(--title-color) !important;
  font-size: 15px !important;
}
.marketplace .sideSection .main-btns li svg {
  font-size: 18px !important;
}
.marketplace .sideSection .Filter-Holder {
  padding: 0 14px;
}
.marketplace .sideSection .Filter-Holder.forPrice {
  padding-top: 9px;
  padding-bottom: 3px;
}
.marketplace .sideSection .Filter-Holder.forCat {
  padding: 8px;
}
.marketplace .sideSection .Filter-Holder .filter-title {
}
.marketplace .sideSection .Filter-Holder.forCat .filter-title {
  padding-left: 7px;
  margin-bottom: 5px;
}
.marketplace .sideSection .Filter-Holder.forCat .filter-paragraph {
  margin-bottom: 10px;
  text-transform: capitalize;
  font-size: 15px;
}
.marketplace .sideSection .Filter-Holder ul {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.marketplace .sideSection .Filter-Holder li {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px 10px;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  color: var(--paragraph-color);
  transition: 0.3s;
}
.marketplace .sideSection .Filter-Holder li svg {
  font-size: 17px;
}
.marketplace .sideSection .Filter-Holder li:hover,
.marketplace .sideSection .Filter-Holder li.active {
  background: var(--section-color);
}
.Filter-Holder .range-place {
  margin: 25px 0;
}
.Filter-Holder .price-input {
  width: 100%;
  display: flex;
  margin: 5px 0 0px;
}
.Filter-Holder .price-input .field {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 7px;
}
.Filter-Holder .field h3 {
  width: 100%;
  font-size: 13px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #999;
  color: var(--title-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-weight: 500;
}
.Filter-Holder .field span {
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
}
.Filter-Holder .price-input .separator {
  width: 50px;
  display: flex;
  font-size: 19px;
  align-items: center;
  justify-content: center;
  color: var(--paragraph-color);
}
.Filter-Holder .priceSlider {
  width: 92%;
  margin: 0px auto 0px;
  display: block;
  color: var(--title-color);
}

.swiper {
  width: 100% !important;
}
.swiper-container {
  position: relative;
  width: 100%;
}

.navigations-icons {
  display: flex;
  align-items: center;
  gap: 5px;
}
.navigations-icons svg {
  z-index: 10;
  border: none;
  cursor: pointer;
  background: var(--border-color);
  width: 28px;
  height: 28px;
  padding: 4px;
  border-radius: 50%;
  color: #737373;
}
.navigations-icons svg:hover {
  padding: 6px;
  color: white;
  background: var(--main-color);
}

.shop .productSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
  border-top: 2px solid #e2e2e2;
}
.shop .productSection:first-child {
  border: none;
  padding-top: 0;
}
.shop .productSection .top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px 0 10px;
}
.shop .productSection .top .left-title {
  display: flex;
  flex-direction: column;
  gap: 9px;
  text-transform: capitalize;
  font-size: 18px;
}
.Product {
  border: 1px solid var(--border-color);
  background: var(--body-color);
  border-radius: 15px 15px 10px 10px;
}
.Product .mainImg {
  object-fit: cover;
  position: relative !important;
  height: 220px !important;
  border-radius: 20px 20px 0 0;
}
.Product .content {
  padding-top: 4px;
}
.Product .content > div {
  padding: 2px 10px;
}
.Product .content > div:last-child {
  padding: 6px 10px;
}
.Product .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--title-color);
  gap: 5px;
}
.Product .row.last {
  font-size: 13px;
  font-weight: 600;
}
.Product .row img {
  position: relative !important;
  width: 38px !important;
  height: 38px !important;
}

.Product .row.loc-serv {
  margin-bottom: 5px;
  justify-content: start;
}
.Product .row.loc-serv > * {
  font-size: 13px;
  font-weight: 500;
}
.Product .row h4 {
}
.Product .title {
  font-weight: 500;
}
.Product .category {
}
.Product .price {
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 6px 0;
}
.Product .price .originalPrice {
  font-weight: 500;
  color: var(--paragraph-color);
  font-size: 15px;
  text-decoration: line-through;
}
.Product .price .currentPrice {
  font-weight: 700;
  color: var(--title-color);
}
.Product .salePercentage {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--main-color);
  font-size: 14px;
}
.Product .location {
}
.Product .deliveryService {
}
