.main-button {
  text-align: center;
  color: var(--title-color);
  font-size: 15px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 4px 18px;
  border-radius: 32px;
  font-weight: 400;
  transition: 0.3s;
  position: relative;
}
body:has(.register-page) {
  height: 100vh;
  position: relative;
  background-image: url(/image/auth.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
body:has(.register-page) .chape {
  position: absolute;
  z-index: -1;
  background-size: cover;
}
.register-chape1 {
  top: 5%;
  left: 5%;
  width: 300px;
  height: 300px;
  background-image: url(/image/auth-2.svg);
  animation: shakeAnimation 12s infinite;
}
@keyframes shakeAnimation {
  from {
    transform: rotate(0deg) translateX(15px) translateY(25px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(15px) translateY(25px) rotate(-360deg);
  }
}
.register-page {
  border-radius: 8px;
  padding: 35px !important;
  width: 550px !important;
  box-shadow: 0 0 6px 0px var(--main-color);
}
.register-page * {
  text-transform: unset;
}
.logo-holder.regist {
  position: absolute;
  left: 12px;
  top: 24px;
}
.register-page.forget .top {
  flex-direction: column;
  align-items: flex-start;
}
.register-page.forget .top p {
  font-size: 15px;
  line-height: 1.7;
  letter-spacing: 0.5px;
}
.register-page .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  margin-top: -6px;
}
.register-page .top h1 {
  font-size: 25px;
}
.register-page .top .follow,
.register-page .top .follow .social {
  gap: 8px;
  display: flex;
  align-items: center;
}
.register-page .top .follow h5 {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 18px;
}
.ar .register-page .top h1 {
  font-size: 21px;
}
.register-page .top .follow .social {
  gap: 7px;
}
.register-page .top svg {
  width: 33px;
  height: 33px;
  padding: 8px;
  border-radius: 50%;
  background: var(--section-color);
}
.register-page .top svg:hover {
  background: var(--main-color);
  color: white;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
form .rowHolder {
  display: flex;
  gap: 10px;
}
form .inputHolder {
  width: 100%;
}
.register-page form .inputHolder input {
  padding-left: 40px;
  background: #e8e8e8;
}
body.ar .register-page form .inputHolder input {
  padding-left: 12px;
}
body.ar:has(.register-page) .inputHolder input {
  padding: 0 39px;
}
form .inputHolder .holder {
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}
form .inputHolder .holder > svg {
  color: var(--paragraph-color);
  position: absolute;
  z-index: 1;
  top: 50% !important;
  left: 14px;
  font-size: 20px;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
  cursor: auto;
}
body.ar form .inputHolder .holder > svg {
  left: unset;
  right: 14px;
}
form .inputHolder .holder > svg.eye {
  left: unset;
  right: 9px;
  cursor: pointer;
  padding: 6px;
  width: 32px;
  height: 32px;
}
body.ar .register-page form .inputHolder:has(svg.eye) input {
  padding-left: 48px;
}
body.ar form .inputHolder .holder > svg.eye {
  left: 10px;
  right: unset;
}

form span {
  color: var(--red-color);
  font-size: 14px;
  margin-top: 6px;
  letter-spacing: 0.7px;
  text-transform: capitalize;
  margin-left: 5px;
  display: flex;
  gap: 3px;
  font-weight: 600;
}
form span svg {
  color: var(--red-color);
  transform: translateY(1px);
  width: 14px;
  cursor: auto;
}
form .btns + span {
  margin: -8px 8px -10px;
  font-size: 16px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 4px;
}
.register-page .btns {
  display: flex;
  justify-content: space-between;
  padding: 10px 3px;
}
.register-page .btns .main-button {
  width: 48.5% !important;
}
.register-page .btns .main-button:hover {
  background: var(--main-color) !important;
}
.register-page .btns .main-button {
  background: var(--back-grident);
  color: white;
  font-weight: 700;
  font-family: "Cairo";
}
.register-page .btns .main-button:last-child {
  background: #e8e8e8;
  color: var(--title-color);
}
.register-page .btns .main-button:hover {
  color: white;
}
.register-page.forget .main-button {
  background: var(--third-color);
  width: 100%;
  height: 45px;
  margin-top: 9px;
}
.register-page.forget .main-button:hover {
  color: white;
  background: var(--main-color) !important;
}
.register-page .btns a {
  background: var(--section-color);
  color: var(--title-color);
  font-weight: 700;
}
.register-page .btns a:hover {
  color: white;
}
.register-page .btns > * {
  height: 40px;
}
body.light .register-page .btns a {
  background: #585858;
  color: var(--body-color);
}
.register-page .forget {
  width: fit-content;
  margin-bottom: -10px;
  background: transparent;
  color: var(--title-color) !important;
}
.register-page .forget:hover {
  background: var(--main-color);
  color: var(--body-color) !important;
}

/*! ============= support-page .contactUs ============ */

.support-page {
  position: relative;
  height: 91vh;
}
.support-page .contactUs .top {
  font-size: 18px;
  margin: -8px 0 15px;
  width: 100%;
}
.support-page .contactUs {
  width: 690px;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 0 6px 0px var(--main-color);
  border-radius: 8px;
  padding: 35px !important;
  padding-bottom: 30px !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.support-page .contactUs form {
  width: 100%;
}
.support-page .contactUs .button {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.support-page .contactUs .button .main-button {
  width: 35%;
  background-color: #2a7abb;
  font-weight: 700;
  color: white;
  transition: 0.3s;
}
.support-page .contactUs .button .main-button:hover {
  background-color: #1d5b8d;
}
.support-page .contactUs .textHolder {
  position: relative;
}
.support-page .contactUs .textHolder textarea {
  background-color: var(--section-color);
  font-size: 14px;
  border: none;
  border-radius: 3px;
  width: 100%;
  outline: none;
  padding-left: 42px;
  padding-right: 16px;
  padding-top: 19px;
  resize: none;
  color: var(--title-color);
  font-family: "Inter", sans-serif;
}
.support-page .contactUs .textHolder svg {
  color: var(--paragraph-color);
  position: absolute;
  z-index: 1;
  top: 19px;
  left: 14px;
  font-size: 17px;
}
.support-page .contactUs .textHolder::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 3px;
  width: 0%;
  height: 1px;
  z-index: 1;
  transition: 0.5s;
  transform: translateX(-50%);
  background: var(--main-color);
}
.support-page .contactUs .textHolder:focus-within::before {
  width: 100%;
}
/* /* checkbox settings / */
.ui-checkbox {
  --primary-color: var(--main-color);
  --secondary-color: white;
  --primary-hover-color: #4096ff;
  --checkbox-border-radius: 3px;
  --checkbox-border-color: #d9d9d9;
  --checkbox-border-width: 1px;
  --checkbox-border-style: solid;
  --checkmark-size: 1.2;
}
.ui-checkbox,
.ui-checkbox,
.ui-checkbox ::before,
.ui-checkbox::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.ui-checkbox {
  appearance: none;
  padding: 0;
  width: 15px;
  height: 15px;
  border-radius: var(--checkbox-border-radius);
  background: #d5d5d5;
  border: var(--checkbox-border-width) var(--checkbox-border-style)
    var(--checkbox-border-color);
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
  border-color: #b8b8b8;
}
body.light .ui-checkbox {
  background: white;
}
.ui-checkbox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 0 0 calc(20px / 2.5) var(--primary-color);
  border-radius: inherit;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
}
.ui-checkbox::before {
  top: 40%;
  left: 50%;
  content: "";
  position: absolute;
  width: 4px;
  height: 7px;
  border-right: 2px solid var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  transform: translate(-50%, -50%) rotate(45deg) scale(0);
  opacity: 0;
  transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
}
/* actions */
.ui-checkbox:hover {
  border-color: var(--primary-color);
}
.ui-checkbox:checked {
  background: var(--primary-color);
  border-color: transparent;
}
.ui-checkbox:checked::before {
  opacity: 1;
  transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
}
.ui-checkbox:active:not(:checked)::after {
  box-shadow: none;
  transition: none;
  opacity: 1;
}
.checkBox {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.checkBox .checkHolder {
  display: flex;
  gap: 15px;
}
.checkBox .checkHolder .miniCheckHolder {
  display: flex;
  align-items: center;
  gap: 5px;
}
.checkBox .checkHolder .miniCheckHolder label {
  font-size: 15px;
  color: var(--second-title-color);
}

@media (max-width: 1300px) {
  body:has(.register-page) .chape {
    display: none;
  }
}
@media (max-width: 992px) {
  .App:has(.register-page) {
    background-position: right;
  }
}
@media (max-width: 768px) {
  .register-page {
    width: 100% !important;
    padding: 25px !important;
  }
  .register-page .rowHolder {
    flex-direction: column;
  }
  .register-page .follow .social {
    gap: 7px;
  }
  .support-page .contactUs {
    width: 100%;
  }
  form .rowHolder {
    flex-direction: column;
  }
  .checkBox {
    flex-direction: column;
    gap: 10px;
  }
  .support-page .contactUs .button .main-button {
    width: 64%;
  }
}
