.chat-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  filter: grayscale(0.15);
}
.holder:has(.chat-page) {
  height: 91vh;
  overflow: unset;
}

.chat-page > img {
  width: 55%;
}
.chat-page h1 {
  font-size: 30px;
  max-width: 89%;
  text-align: center;
}

.chat-page:has(.chats) {
  padding: 0;
}
.chat-page .chats {
  width: 100%;
  height: 100%;
}

.chats:has(.userMenu.active) .holder {
  overflow: hidden;
  padding-right: 14px;
}

body.ar .chats:has(.userMenu.active) .holder {
  padding-left: 14px;
  padding-right: unset;
}

body:has(.personChat) > main {
  padding-right: 10px;
  padding-bottom: 10px;
}
body.ar:has(.personChat) > main {
  padding-left: 10px;
  padding-right: 0;
}
body.ar:has(.sideMenu.active):has(.personChat) > main > .holder {
  padding-left: unset;
}
body:has(.sideMenu.active) .holder:has(.personChat) .messages {
  overflow: hidden;
  padding-left: unset !important;
  padding-right: 6px !important;
}
body.ar:has(.sideMenu.active) .holder:has(.personChat) .messages {
  padding-left: 6px !important;
  padding-right: unset !important;
}
body:has(.sideMenu.active):has(.personChat) > main > .holder {
  padding-right: unset !important;
}
body:has(.personChat) .chats {
  height: 97.5vh;
}
body:has(.personChat) header {
  margin-right: 0;
  margin-left: 0;
}
body:has(.personChat) > main > .holder {
  height: -webkit-fill-available;
}
.personChat {
  height: -webkit-fill-available;
  border-radius: 15px;
  outline: 2px solid #e8e8e8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding-right: 0 !important;
  margin-top: 12px;
}
.personChat .mentionMenu {
  position: absolute;
  left: 0;
  bottom: calc(100% - -8px);
}
.personChat .mentionMenu .user {
  justify-content: unset;
  gap: 10px;
  cursor: pointer;
}
.personChat .mentionMenu .user .info {
  flex-direction: column;
  align-items: flex-start;
  gap: 1px;
}
.personChat .mentionMenu .user .info span {
  color: var(--paragraph-color);
  font-size: 14px;
}
.personChat .mentionMenu .holder-wrap {
  display: flex;
  gap: 2px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.personChat .mentionMenu h1 + .holder-wrap {
  font-size: 16px;
  margin-bottom: 4px;
  padding: 0 5px;
}
.personChat .mentionMenu .holder-wrap .user {
  background: var(--main-color);
  color: white;
  padding: 5px 7px;
  border-radius: 4px;
  font-size: 13px;
}
.personChat > .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #dedede;
  padding-right: 15px;
  background: var(--section-color);
  transition: 0.3s;
}
.personChat > .top:has(.user:hover) {
  background: var(--body-color);
}
body.ar .personChat > .top {
  padding-right: 0;
  padding-left: 15px;
}
.personChat .top .user {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  flex: 1;
  cursor: pointer;
  padding: 8px 15px;
  height: 56px;
}
.personChat .top .user img {
  color: transparent;
}
.personChat > .actions {
  position: relative;
  display: flex;
  gap: 1px;
  align-items: flex-end;
  border-top: 2px solid #dedede;
  padding: 10px;
  background: var(--section-color);
}
.personChat .tools {
  display: flex;
}
.personChat .tools > button,
.personChat .actions > button {
  display: flex;
  width: 50px;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  font-weight: 500;
  color: var(--title-color);
  position: relative;
}
.personChat .tools > button:hover,
.personChat .actions > button:hover {
  background: var(--border-color);
}
.personChat .tools > button:last-child {
  width: unset;
  padding: 10px 14px;
}
.personChat .tools > button > svg,
.personChat .actions > button > svg {
  color: var(--title-color);
  font-size: 18px;
}
.personChat .tools button small {
  position: absolute;
  right: 14px;
  top: 24px;
  color: var(--main-color);
  font-weight: 800;
  font-size: 12px;
  transition: 0.3s;
}
.personChat .tools button:hover small {
  color: var(--title-color);
}

.personChat .overViewMenu {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  transform: unset;
  width: fit-content;
}
body.ar .personChat .overViewMenu {
  left: unset;
  right: 0;
}
.personChat .overViewMenu .left {
  background: var(--section-color);
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 10px 8px;
}
.personChat .overViewMenu .left li {
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 15px;
  padding: 10px 14px;
  border-radius: 6px;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 500;
  overflow: hidden;
}
.personChat .overViewMenu .left li:hover,
.personChat .overViewMenu .left li.active {
  background: var(--body-color);
}
.personChat .overViewMenu .left li::before {
  content: "";
  position: absolute;
  left: 0;
  width: 4px;
  top: 50%;
  height: 0;
  transform: translateY(-50%);
  background: var(--main-color);
  transition: 0.3s;
}
.personChat .overViewMenu .left li.active::before {
  height: 100%;
}
.personChat .overViewMenu .left li::before {
  left: unset;
  right: 0;
}

.personChat .overViewMenu .right {
  width: 330px;
  min-height: 345px;

  padding: 14px;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
body.ar .personChat .overViewMenu .right {
  padding-right: 14px;
  padding-left: 0;
}
.personChat .overViewMenu .right > div {
  max-height: 390px;
  overflow: auto;
  padding-right: 10px;
}
body.ar .personChat .overViewMenu .right > div {
  padding-right: unset;
  padding-left: 10px;
}
.personChat .overViewMenu .right h1 {
  font-size: 20px;
}

.personChat .overViewMenu .right .overview {
  height: 100%;
}
.personChat .overViewMenu .right .overview .center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 17px;
  gap: 0px;
}
.personChat .overViewMenu .right .overview img {
  width: 31%;
  height: 31%;
}
.personChat .overViewMenu .right .overview h4 {
  font-size: 23px;
}
.personChat .overViewMenu .right .overview label {
  color: var(--title-color);
  margin-bottom: 2px;
  display: flex;
}
.personChat .overViewMenu .right .overview label + p {
  font-size: 15px;
}
.personChat .overViewMenu .right .overview label + p {
  font-size: 15px;
}
.personChat .overViewMenu .right .overview .btn-holder {
  margin: 16px 0 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.personChat .overViewMenu .right .overview .btn-holder button {
  font-size: 14px;
  padding: 9px;
  text-transform: capitalize;
  border-radius: 6px;
  transition: 0.3s;
  background: var(--border-color);
}
.personChat .overViewMenu .right .overview .btn-holder button:hover {
  background: var(--main-color);
  color: white;
}
.personChat .overViewMenu .right .overview .btn-holder .row {
  display: flex;
  gap: 5px;
}
.personChat .overViewMenu .right .overview .btn-holder .row button {
  width: 50%;
}
.personChat .overViewMenu .right .overview .btn-holder .row button:hover {
  background: var(--red-color);
  color: white;
}

.personChat .overViewMenu .right .media {
  display: grid;
  gap: 6px;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
}
.personChat .overViewMenu .right .media .msg {
  height: 94px;
  object-fit: cover;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
}
.personChat .overViewMenu .right .media .msg.selected {
  border: 3px solid var(--main-color);
}
.personChat .overViewMenu .right .media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}
.personChat .overViewMenu .right .media .msg:hover img {
  opacity: 0.85;
}
.personChat .overViewMenu .right .media label {
  position: absolute;
  right: -21px;
  top: 7px;
  transition: 0.1s;
}
.personChat .overViewMenu .right .media .msg:hover label,
.personChat .overViewMenu .right .media label.active {
  right: 7px;
}

.personChat .actions .big-holder {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0 4px;
}
.personChat .actions .big-holder .reply {
  background: var(--body-color);
  padding: 8px 15px;
}
.personChat .actions .big-holder .reply::before {
  left: 1px;
}
.personChat .actions .big-holder .close {
  position: absolute;
  right: -9px;
  top: 50%;
  transform: translateY(-50%);
  background: var(--red-color);
  color: white;
  border-radius: 50%;
  padding: 2px;
  font-size: 19px;
  width: unset;
  height: unset;
}
.personChat .actions textarea {
  padding: 10px 12px;
  height: 44px;
  max-height: 105px;
  resize: none;
  border: 2px solid #dedede;
  color: var(--title-color);
  letter-spacing: 0.3px;
  font-size: 16px;
  border-radius: 7px;
  transition: 0.3s;
}
.personChat .actions textarea:focus,
.personChat .actions textarea:not(:placeholder-shown) {
  outline: none;
  border-color: var(--main-color);
}
.personChat .messages {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}
.personChat > img {
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0px;
  top: 0px;
  color: transparent;
  z-index: -1;
  opacity: 0.08;
  object-fit: fill;
}

.personChat .top .pin-holder {
  position: absolute;
  top: 56px;
  left: 0;
  width: 100%;
  padding: 7px 16px;
  background: #ffffffcf;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: space-between;
  z-index: 80;
  transition: 0.3s;
  cursor: pointer;
}
.personChat .top .pin-holder:hover {
  background: #f1f1f1c4;
}
.personChat .top .pin-holder .left {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 12px;
}
.personChat .top .pin-holder .left .pagin {
  display: flex;
  flex-direction: column;
  gap: 1px;
  height: 60%;
  left: 18px;
  margin-right: 4px;
  position: absolute;
}
.personChat .top .pin-holder .left .pagin span {
  width: 3px;
  flex: 1 1;
  border-radius: 3px;
  background: var(--paragraph-color);
}
.personChat .top .pin-holder .left .pagin span.active {
  background: var(--main-color);
}
.personChat .top .pin-holder .left svg {
  color: var(--title-color);
  font-size: 16px;
}
.personChat .top .pin-holder .left h3 {
  font-size: 15px;
  font-weight: 500;
  color: var(--main-color);
}
.personChat .top .pin-holder .left p {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 500;
  font-size: 14px;
}
.personChat .top .pin-holder .right {
  color: var(--title-color);
  font-weight: 500;
  border-radius: 5px;
  transition: 0.3s;
  padding: 8px 14px;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}
.personChat .top .pin-holder .right:hover {
  background: var(--section-color);
}
.personChat .top .pin-holder:hover .right {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}
.personChat:has(.pin-holder) .messages .msg:first-child {
  margin-top: 45px;
}

.personChat .messages .msg {
  padding: 14px 40px;
  display: flex;
  align-items: center;
  gap: 14px;
  transition: background 0.3s;
}
.personChat.selectMode .messages .msg:not(.middle) {
  background: #f1740d17;
  border-bottom: 1px solid #0000001c;
}
.personChat.selectMode .messages .msg.selected {
  background: #f1740d69;
}
.personChat .messages .msg .body {
  background: var(--section-color);
  padding: 10px 13px;
  border-radius: 5px;
  max-width: 40%;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 4px;
  z-index: 2;
  outline: 2px solid #dedede;
  position: relative;
}
.personChat .messages .msg .body .top {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.personChat .messages .msg .top small {
  font-size: 12px;
  color: var(--paragraph-color);
  font-weight: 400;
}
.personChat .messages .msg.me .top {
  justify-content: flex-end;
  margin-top: -2px;
}
.personChat .messages .msg.me {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  justify-content: flex-start;
}
.personChat .messages .msg.me .body::before {
  content: "";
  position: absolute;
  right: -2px;
  top: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(280deg, #ff9b30 28%, #ff6b14 93%);
}
.personChat .messages .msg.me .body::after {
  content: "";
  position: absolute;
  top: -2px;
  right: -9px;
  width: 10px;
  height: 10px;
  background-color: var(--main-color);
  border-radius: 0 0 20px;
}
.personChat .messages .msg .body .reacts {
  position: absolute;
  bottom: -21px;
  height: 28px;
  display: flex;
  align-items: center;
  left: 10px;
  border-radius: 50px;
  padding: 0px 6px;
  font-size: 20px;
  letter-spacing: -0.3px;
  cursor: pointer;
  gap: 0;
  background: var(--section-color);
  border: 1px solid var(--border-color);
}
.personChat .messages .msg .body .reacts .counter {
  color: var(--title-color);
  font-weight: bold;
  font-size: 15px;
  margin-right: 2px;
  font-family: sans-serif;
}
.personChat .messages .msg.me .body .reacts {
  left: unset;
  right: 10px;
}
.reacts > * {
  min-height: unset;
  padding-right: 0;
}
.personChat .messages .msg .body > div {
  color: var(--paragraph-color);
}
.focusedMsg {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  background: #ffffff00;
  scale: 0.1;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
  border-radius: 50%;
  transition: scale 0.3s, border-radius 0.3s, opacity 0.3s, visibility 0.3s,
    background 0.8s;
}
.focusedMsg.active {
  scale: 1;
  opacity: 1;
  visibility: visible;
  background: #ffffff4f;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 0;
}

.focusedMsg .hold {
  margin: auto;
}
.focusedMsg .swiper {
  width: 100%;
  margin: auto;
}
.focusedMsg .swiper .swiper-slide {
  width: fit-content;
  align-items: center;
}
.focusedMsg .swiper.previewSmallImages .swiper-slide img {
  min-width: 100%;
  height: 59px;
  border-radius: 4px;
  transition: 0.3s;
}
.focusedMsg .swiper .swiper-slide img.active {
  border-bottom: 4px solid var(--main-color);
}
.personChat .messages .msg .body > img {
  max-width: 100%;
  max-height: 535px;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 5px;
}
.personChat .reply {
  background: var(--body-color);
  padding: 8px 12px;
  border-radius: 4px;
  margin-left: -2px;
  opacity: 0.9;
  position: relative;
  cursor: pointer;
}
.personChat .reply:has(img),
.personChat .reply:has(img) > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.personChat .reply:has(img) > div {
  align-items: center;
}
.personChat .reply::before {
  content: "";
  position: absolute;
  left: -1px;
  top: 0;
  height: 100%;
  width: 4px;
  background: linear-gradient(280deg, #ff9b30 28%, #ff6b14 93%);
  border-radius: 5px;
}
.personChat .reply .left {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
}
.personChat .reply .left svg {
  display: flex;
  gap: 4px;
  font-size: 14px;
  font-weight: 500;
}
.personChat .reply img {
  width: 56px;
  height: 37px;
  border-radius: 5px;
  object-fit: cover;
}
.personChat .reply h5 {
  font-family: sans-serif;
  font-weight: 700;
}
.personChat .reply p {
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.personChat .messages .msg .body .interact {
  position: absolute;
  background: transparent;
  width: 65px;
  height: 100%;
  top: 0;
  right: 0;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: 0.2s ease-in-out;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}
.personChat:not(.selectMode) .messages .msg .body:hover .interact {
  right: -65px;
  z-index: 1;
  opacity: 1;
  visibility: visible;
}
body.ar .personChat .messages .msg .body .interact {
  right: unset;
  left: 0;
}
body.ar .personChat:not(.selectMode) .messages .msg .body:hover .interact {
  right: unset;
  left: -65px;
}
.personChat .messages .msg .interact .holder {
  display: flex;
  background: #ffffff;
  border: 2px solid #dedede;
  padding: 4px 7px;
  gap: 3px;
  flex-direction: row-reverse;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}
.personChat .messages .msg .interact .holder:hover {
  scale: 1.1;
}
.personChat .messages .msg.me .body .interact {
  right: unset;
  left: 0;
  justify-content: flex-start;
}
.personChat .messages .msg.me .body:hover .interact {
  right: unset;
  left: -65px;
}
body.ar .personChat .messages .msg.me .body .interact {
  right: 0;
  left: unset;
  justify-content: flex-start;
}
body.ar .personChat .messages .msg.me .body:hover .interact {
  right: -65px;
  left: unset;
}
.personChat .messages .msg.me .interact .holder {
  flex-direction: row;
}

.personChat .messages .msg.middle {
  justify-content: center;
}
.personChat .messages .msg.middle .body {
  position: relative;
  padding: 5px 8px;
  color: #626262;
  cursor: pointer;
}
.personChat .messages .msg.middle {
  padding: 8px;
}
.personChat .messages .msg.middle .body > div {
  font-size: 13px;
  text-transform: capitalize;
}
.personChat .messages .msg.middle small {
  position: absolute;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  font-size: 12px;
  left: 50%;
  transform: translateX(-50%);
  outline: 2px solid #dedede;
  background: var(--section-color);
  width: max-content;
  padding: 6px 9px;
  border-radius: 5px;
  cursor: auto;
  transition: 0.3s;
}
.personChat .messages .msg.middle .body:hover small {
  bottom: -32px;
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

.personChat .messages .msg.history {
  position: unset;
  top: 55px;
  z-index: 10;
  transition: 0.3s;
}
.personChat .messages .msg.sticky {
  position: sticky !important;
  opacity: 1;
  visibility: visible;
  transition: 0.3s;
}
.personChat .messages .msg.sticky.hidden {
  opacity: 0;
  visibility: hidden;
}
.personChat .messages .msg.sticky.hidden:hover {
  opacity: 1;
  visibility: visible;
}
.personChat .messages .msg.history .body {
  box-shadow: 0px 0px 2px 2px #ff8e3161;
  outline: none;
  width: 90px;
  text-align: center;
}

.personChat .messages .msg .interact svg {
  color: var(--title-color);
}
.input[type="checkbox"] {
  display: none;
}

/* Style for the custom checkmark */

.sideMenu.nistedUserSetting {
  position: absolute;
  right: 10px;
  bottom: 60px;
  top: unset;
  transform: unset;
  left: unset;
}

body:has(.personChat) .MenuOfUsers .topFilter {
  padding: 0;
}
.MenuOfUsers {
  width: 280px;
  padding: 6px;
  padding-right: 0;
}
.MenuOfUsers h1 {
  font-size: 18px;
  padding: 8px 5px 3px;
}
.MenuOfUsers .holder {
  max-height: 252px;
  overflow: auto;
  padding-right: 6px;
}
.MenuOfUsers .user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 9px;
  border-radius: 9px;
  transition: 0.3s;
}
.MenuOfUsers .user:hover {
  background: var(--border-color);
}
.MenuOfUsers .user .info {
  display: flex;
  align-items: center;
  gap: 7px;
}
.MenuOfUsers .info h4 {
  font-weight: 500;
  font-size: 15px;
}

.personChat .reactsMenu span {
  font-size: 24px;
}
.personChat .reactsMenu span.counter {
  font-size: 16px;
  font-weight: 600;
  color: var(--title-color);
  margin-left: 1px;
}

@media (max-width: 1600px) {
  .personChat .messages .msg .body {
    max-width: 43%;
  }
}
@media (max-width: 1400px) {
  .personChat .messages .msg .body {
    max-width: 48%;
  }
}
@media (max-width: 1300px) {
  .personChat .messages .messageAction button {
    padding: 10px 8px;
  }
}
@media (max-width: 1200px) {
  .personChat .messages .msg .body {
    max-width: 56%;
  }
}
@media (max-width: 992px) {
  .personChat {
    margin-top: 3px;
  }
  .personChat .messages .msg .body {
    max-width: 75%;
  }
  body:has(.personChat) {
    padding-left: 0;
    padding-bottom: 4px;
  }
}
@media (max-width: 786px) {
  body:has(.chat-page) header {
    display: none;
  }
  .chats > .top {
    padding: 0px 12px;
  }
  .chat-page {
    align-items: unset;
    height: 100%;
    height: 100%;
    justify-content: unset;
  }
  .holder:has(.chat-page) {
    height: 101vh;
  }
  .holder:has(.chat-page) {
    height: 100%;
  }
  body:has(.chat-page) > main {
    overflow: hidden;
  }
  body:has(.personChat) {
    height: -webkit-fill-available;
  }
  body:has(.chat-page) main {
    height: 101%;
  }
  .chat-page .chats {
    margin: 0;
    padding: 13px 0 0;
  }
  .chat-page .chats .chat {
    width: unset;
    gap: 10px;
    min-height: 52px;
  }
  .chat-page .chats .chat img {
    width: 45px;
    height: 45px;
  }
  .chat-page .chats .filters li {
    width: 33px;
  }
  .chat-page .chats .filters li {
    font-size: 16px;
  }
  .chat-page .chats .filters li svg {
    min-width: 20px;
  }
  .personChat {
    border-radius: 0;
    height: 100vh;
  }
  body:has(.personChat) header {
    display: none;
  }
  .personChat .tools > button,
  .personChat .actions > button {
    width: 40px;
  }
  .personChat .messages .msg {
    padding: 14px;
  }
  .focusedMsg > img {
    max-width: 96%;
  }
  .personChat .overViewMenu .right .overview .btn-holder .row {
    flex-direction: column;
  }
  .personChat .overViewMenu .right .overview .btn-holder .row button {
    width: 100%;
  }
  .personChat > .top {
    padding-right: 0;
  }
  body:has(header.active) > main {
    padding-top: 0px !important;
    padding-right: 0 !important;
  }
  body:has(.personChat) > main {
    padding-right: 0;
  }
}
@media (max-width: 500px) {
}
@media (max-width: 360px) {
}
