@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}
body.ar,
body.ar * {
  direction: rtl !important;
  text-align: right;
}
body.ar .swiper-container,
body.ar .swiper-container * {
  direction: ltr !important;
}
.skeleton {
  background: var(--section-color);
  max-width: 100%;
  height: fit-content;
}
:root {
  --body-color: #f7f7f7;
  --main-color: #ff8e31;
  --second-color: #ccebff;
  --third-color: #ffa95a;
  --title-color: #454545;
  --second-body-color: #d5d5d5;
  --paragraph-color: #858585;
  --section-color: #ffffff;
  --section-color2: #ffffff;
  --border-color: #e8e8e8;
  --red-color: #df3a3a;
  --box-shadow: rgb(0 0 0 / 17%) 0px 0px 23px -5px;
  --back-grident: linear-gradient(60deg, #ff9b30 30%, #ff6b14 93%);
}
body.dark {
  --body-color: #171918;
  --title-color: #c8c8c8;
  --second-body-color: #fff;
  --paragraph-color: #909090;
  --section-color: #252728;
  --section-color2: #171918;
  --border-color: #161616;
  --box-shadow: rgb(0 0 0 / 24%) 0px 0px 23px -5px;
}
body {
  padding: 0 12px;
  display: flex;
  font-family: "Rubik", sans-serif;
  background-color: var(--body-color);
}

::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 5rem;
}
/* Mozilla browsers (Firefox) */
::-moz-scrollbar {
  width: 6px;
  height: 8px;
}
::-moz-scrollbar-track {
  background: transparent;
}
::-moz-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 5rem;
}
/* Microsoft browsers (Edge, IE) */
::-ms-scrollbar {
  width: 6px;
  height: 8px;
}
::-ms-scrollbar-track {
  background: transparent;
}
::-ms-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 5rem;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
li,
svg,
a,
pre,
p {
  margin: 0;
  padding: 0;
  color: var(--title-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  direction: ltr !important;
}
svg {
  transition: 0.3s;
  cursor: pointer;
}
p,
pre {
  color: var(--paragraph-color);
  white-space: pre-wrap;
  font-size: 15px;
  font-family: "Rubik";
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
hr {
  background: #dddddd;
  height: 1px;
  border: none;
}
input,
textarea {
  outline: none;
  border: none;
  border-radius: 6px;
  color: var(--title-color);
  background: transparent;
  font-family: "Rubik";
}
input:-webkit-autofill {
  background-color: transparent !important;
  color: var(--title-color) !important;
  font-weight: normal !important; /* or whatever you want */
}
body.ar input {
  direction: rtl;
  font-size: 14px !important;
}
button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-family: "Rubik" !important;
  transition: 0.3s;
}
button:has(.lds-dual-ring) {
  transition: color 0.3s, background-color 0.3s;
}
a {
  transition: 0.3s;
}
svg.close {
  padding: 6px !important;
  width: 31px;
  height: 31px;
  background: var(--body-color);
  border-radius: 6px !important;
}
svg.close:hover {
  background: var(--red-color) !important;
  color: white !important;
}
svg.closeMenu {
  position: absolute;
  left: 20px;
  top: 20px;
  border-radius: 8px !important;
}
.goBackSvg {
  background: var(--border-color);
  padding: 6px 4px 6px 6px;
  width: 35px;
  height: 27px;
  border-radius: 40px 16px 16px 40px;
}
.goBackSvg:hover {
  color: white;
  background: var(--main-color);
}

body.ar .goBackSvg {
  transform: rotate(180deg);
}

.slider {
  margin: 0px auto 0px;
  display: block !important;
  color: var(--title-color) !important;
}

.main-button {
  padding: 6px 18px !important;
  border-radius: 5px !important;
  font-weight: 500;
  cursor: pointer;
  background: #ebebeb;
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--title-color);
}
.main-button:hover,
.main-button:hover span,
.main-button.active,
.main-button.loading span {
  color: white !important;
  background: var(--main-color);
}
.main-button[disabled]:hover {
  opacity: 0.3 !important;
  cursor: not-allowed !important;
}
.main-button span {
  transition: 0.3s;
  opacity: 1;
  background: transparent !important;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
}
.main-button.loading span {
  opacity: 0;
}
.main-button svg {
  font-size: 15px;
}
.main-button:hover svg,
.main-button.active svg {
  color: white;
}
.main-button.danger,
.main-button.danger span {
  color: var(--red-color);
}
.main-button.danger:hover,
.main-button.danger.loading {
  background: var(--red-color) !important;
  color: white !important;
}

.main-button .lds-dual-ring:after {
  opacity: 0;
  border: 3px solid var(--title-color);
  border-color: var(--title-color) transparent var(--title-color) transparent;
}
.main-button.loading .lds-dual-ring:after {
  opacity: 1;
}
.main-button:hover .lds-dual-ring:after,
.main-button.loading .lds-dual-ring:after {
  border: 3px solid white;
  border-color: white transparent white transparent;
}

.rounded {
  object-fit: cover !important;
  border-radius: 50% !important;
}

.lds-dual-ring {
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.lds-dual-ring,
.lds-dual-ring:after {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lds-dual-ring:after {
  content: " ";
  display: flex;
  width: 20px;
  height: 20px;
  margin: 0px;
  border-radius: 50%;
  border: 4px solid currentColor;
  border-color: currentColor transparent currentColor transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 800px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1600px) {
  .container {
    width: 1470px;
  }
}

body > main {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: 0.5s;
  gap: 24px;
}

body > main > .holder:has(.register-page) {
  display: flex;
  flex: 1;
}

.search-holder .search-btn {
  display: none;
}
.search-holder {
  position: relative;
  flex: 1;
}

.holder:has(.big-loader) {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
}
.big-loader {
  width: 500px;
  height: 500px;
  max-width: 95%;
  max-height: 95%;
}

.comments .sideMenu.reactsHolder {
  right: 0;
  transform: unset;
  box-shadow: unset;
}

.actions.forImageSwiper > div {
  position: unset;
}
.actions.forImageSwiper .sideMenu.reactsHolder {
  right: unset;
  left: 50%;
  transform: translateX(-50%);
}

.reacts {
  display: flex;
  align-items: center;
  gap: 3px;
  margin: 3px 15px 0;
}
.reacts > * {
  width: 30px;
  height: 30px;
  padding: 2px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}
.reacts div {
  position: relative;
  display: flex;
}
.reacts div img {
  width: 100%;
  transition: 0.3s;
}
.reacts div:hover img {
  scale: 1.5;
  transform: translateY(-4px);
}
.reacts div::before {
  content: "";
  position: absolute;
  bottom: -7px;
  width: 0;
  left: 50%;
  height: 3px;
  transform: translateX(-50%);
  background: var(--main-color);
}
.reacts div.active::before {
  width: 100%;
}
.reacts > svg {
  padding: 5px;
}
.reacts > svg:hover {
  padding: 6px;
  background: var(--main-color);
  color: white;
}

.emoji-holder {
  position: fixed;
  width: fit-content;
  z-index: 101;
  scale: 0.5;
  visibility: hidden;
  opacity: 0;
  transition: scale 0.2s;
}
.emoji-holder.active {
  scale: 1;
  visibility: visible;
  opacity: 1;
}
label.checkbox {
  display: flex;
  width: 17px;
  height: 17px;
}
label.checkbox > span {
  border-color: var(--paragraph-color);
}
.custom-checkbox {
  display: inline-block;
  width: 100%;
  height: 100%;
  border: 2px solid var(--title-color);
  border-radius: 4px;
  position: relative;
  cursor: pointer;
}
.custom-checkbox::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 9px;
  height: 9px;
  background-color: var(--title-color);
  border-radius: 2px;
  opacity: 0;
}
.input[type="checkbox"]:checked + .custom-checkbox::after {
  opacity: 1;
}

.selectOptions {
  width: 100%;
  position: relative;
}
.selectOptions .selectedValue {
  background: var(--body-color);
  border-radius: 6px;
  padding: 11px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 100%;
  font-weight: 500;
  color: var(--title-color);
}
.selectOptions .options {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 2px;
  background: var(--body-color);
  padding: 10px;
  width: 100%;
  top: 45px;
  top: 55px;
  border-radius: 6px;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  transition: 0.3s;
}
.selectOptions .selectedValue:focus svg {
  transform: rotate(-180deg);
}
.selectOptions .selectedValue:focus + .options {
  top: 45px;
  opacity: 1;
  visibility: visible;
  z-index: 2;
}
.selectOptions .options li {
  cursor: pointer;
  background: var(--section-color2);
  padding: 5px 8px;
  border-radius: 5px;
  font-size: 15px;
  transition: 0.3s;
}
.selectOptions .options li:hover,
.selectOptions .options li.active {
  background: var(--main-color);
  color: white;
  font-weight: 600;
}
.home {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  margin: 0 auto;
  gap: 10px;
  justify-content: center;
}

.ellipsisText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.top.forUser .left {
  gap: 5px;
}
.top.forUser img {
  width: 40px;
  height: 40px;
}
.top.forUser .info span {
  margin: 0;
}
.top.forUser svg {
  transform: translateY(1px);
}

.postForm .placeHolder {
  top: 23px;
}

@media (max-width: 1300px) {
  .search-holder input {
    width: 118px;
  }
  .search-holder input:focus,
  .search-holder input:not(:placeholder-shown) {
    width: 140px;
  }
}

@media (max-width: 1100px) {
  .home {
    flex-direction: column;
    align-items: center;
  }
  .home .stories-holder {
    max-width: 100%;
    min-width: unset !important;
    position: relative;
    top: 0;
    gap: 7px;
  }
  .home .stories-holder .stories-grid {
    display: flex !important;
  }
}
@media (max-width: 992px) {
  .skeleton-ImagesSwiper {
    height: fit-content;
    width: 100%;
    padding-top: 10px;
  }

  .chat-page > img {
    width: 100%;
  }

  .home .stories-holder .storiesTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7px;
  }
  .navigations-icons.forStories {
    position: relative;
    transform: unset;
    width: fit-content;
    top: unset;
    left: unset;
  }
}
@media (max-width: 786px) {
  body {
    width: 100vw;
    overflow: unset;
    padding: 5px;
  }

  .home {
    gap: 10px;
    transition: 0.3s;
  }
  .home .stories-holder {
    width: 100%;
  }
  .top.forUser .info h5 {
    font-size: 0.6rem;
  }

  .actions > div {
    width: -webkit-fill-available;
  }
  .sideMenu.reactsHolder {
    transform: unset;
  }
  .comments .sideMenu.reactsHolder {
    left: 0;
  }
  body.ar .comments .sideMenu.reactsHolder {
    left: unset;
    right: 0;
  }

  .uploaded {
    position: relative;
    display: flex;
    height: -moz-fit-content;
    margin: 8px;
  }

  .big-loader {
    width: 250px;
    height: 250px;
  }
}
