body:has(.marketplace) > main {
  max-width: 100%;
}
body:has(.marketplace) header {
  margin-left: 12px;
}
.marketplace {
  display: flex;
  gap: 10px;
  padding: 15px;
  padding-right: 0;
}
.sideSection {
  border-radius: 8px;
  background: var(--body-color);
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 2px;
  padding-top: 15px;
  min-width: 300px;
  max-width: 100%;
  height: fit-content;
  position: sticky;
  top: 10px;
}
.sideSection hr {
  background: #e0e0e0;
  height: 2px;
}
.sideSection .main-title {
  margin-bottom: 5px;
}
.sideSection .main-btns li {
  font-size: 15px !important;
  padding: 12px 10px !important;
  color: var(--title-color) !important;
  font-size: 15px !important;
}
.sideSection .main-btns li svg {
  font-size: 18px !important;
}
.sideSection .Filter-Holder {
  padding: 0 14px;
}
.sideSection .Filter-Holder.forPrice {
  padding-top: 9px;
  padding-bottom: 3px;
}
.sideSection .Filter-Holder.forCat {
  padding: 8px;
}
.sideSection .Filter-Holder .filter-title {
}
.sideSection .Filter-Holder.forCat .filter-title {
  padding-left: 7px;
  margin-bottom: 5px;
}
.sideSection .Filter-Holder.forCat .filter-paragraph {
  margin-bottom: 10px;
  text-transform: capitalize;
  font-size: 15px;
}
.sideSection .Filter-Holder ul {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.sideSection .Filter-Holder li {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px 10px;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  color: var(--paragraph-color);
  transition: 0.3s;
}
.sideSection .Filter-Holder li svg {
  font-size: 17px;
}
.sideSection .Filter-Holder li:hover,
.sideSection .Filter-Holder li.active {
  background: var(--section-color);
}

.sideSection .Filter-Holder li label.checkbox {
  width: 0px !important;
  opacity: 0 !important;
  margin-left: -3px !important;
  transition: 0.3s !important;
}
.sideSection .Filter-Holder li:hover label.checkbox,
.sideSection .Filter-Holder li.active label.checkbox {
  width: 17px !important;
  opacity: 1 !important;
  margin-left: 0 !important;
}
.Filter-Holder .range-place {
  margin: 25px 0;
}
.Filter-Holder .price-input {
  width: 100%;
  display: flex;
  margin: 5px 0 0px;
}
.Filter-Holder .price-input .field {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 7px;
}
.Filter-Holder .field h3 {
  width: 100%;
  font-size: 13px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #999;
  color: var(--title-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-weight: 500;
}
.Filter-Holder .field span {
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
}
.Filter-Holder .price-input .separator {
  width: 50px;
  display: flex;
  font-size: 19px;
  align-items: center;
  justify-content: center;
  color: var(--paragraph-color);
}
.Filter-Holder .priceSlider {
  width: 92%;
  margin: 0px auto 0px;
  display: block;
  color: var(--title-color);
}

.swiper {
  width: 100% !important;
}
.swiper-container {
  position: relative;
  width: 100%;
}

.navigations-icons {
  display: flex;
  align-items: center;
  gap: 5px;
}
.navigations-icons svg {
  z-index: 10;
  border: none;
  cursor: pointer;
  background: var(--border-color);
  width: 28px;
  height: 28px;
  padding: 4px;
  border-radius: 50%;
  color: #737373;
}
.navigations-icons svg:hover {
  padding: 6px;
  color: white;
  background: var(--main-color);
}

.shop .productSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
  border-top: 2px solid #e2e2e2;
}
.shop .productSection:first-child {
  border: none;
  padding-top: 0;
}
.shop .productSection .top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px 0 10px;
}
.shop .productSection .top .left-title {
  display: flex;
  flex-direction: column;
  gap: 9px;
  text-transform: capitalize;
  font-size: 18px;
}
.sorts-holder {
  gap: 7px;
}
.select-holder {
  position: relative;
  cursor: pointer;
  border-radius: 6px;
  min-width: 175px;
  display: flex;
  gap: 11px;
  align-items: center;
  height: 34px;
  border: 1px solid var(--border-color);
  padding: 11px;
}
.select-holder h4 {
  font-size: 15px;
  color: var(--title-color);
  font-weight: 500;
}
.select-holder span {
  position: relative;
  color: var(--title-color);
  text-transform: capitalize;
  flex: 1 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
  font-size: 15px;
}
.select-holder span svg.open {
  transform: rotate(180deg);
}
.select-holder span::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -7px;
  width: 2px;
  height: 18px;
  background-color: var(--main-color);
}
.select-holder .list {
  position: absolute;
  top: 45px;
  left: 0;
  z-index: 1;
  width: 100%;
  padding: 9px 12px;
  border-radius: 0 0 4px 4px;
  z-index: -1;
  opacity: 0;
  transition: 0.3s;
  background: var(--body-color);
  border: 1px solid var(--border-color);
}
.select-holder .list.active {
  top: 32px;
  opacity: 1;
  z-index: 4;
}
.select-holder .list::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0%;
  height: 2px;
  transition: 0.5s;
  background: var(--main-color);
  transform: translateX(-50%);
}
.select-holder .list.active::before {
  width: 100%;
}
.select-holder .list li {
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: margin 0.3s;
  padding: 4px 0;
  letter-spacing: 0.4px;
  text-transform: capitalize;
}
.select-holder .list li:hover,
.select-holder .list li.active {
  color: var(--main-color);
}
.select-holder .list li:hover {
  margin-left: 5px;
}
