body:has(.portfolio) {
  padding-top: 0;
}
body:has(.portfolio) header {
  margin-bottom: 0;
  margin-left: 12px;
}

body:has(.portfolio) > main {
  padding-top: 0;
}
.portfolio {
  width: 70%;
  margin: auto;
}
.portfolio > .top {
  gap: 8px;
  display: flex;
  flex-direction: column;
}
.portfolio .top .cover {
  position: relative;
  border-radius: 0 0 25px 25px;
  overflow: hidden;
  background: var(--back-grident);
  min-height: 100px;
}
.portfolio .top .cover img {
  position: relative !important;
  aspect-ratio: 16 / 6;
}
.portfolio .editICo {
  position: absolute;
  right: 15px;
  bottom: 15px;
  color: white;
  background-color: #2b2b2b;
  border-radius: 8px;
  padding: 7px 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: 0.3s;
}
body.ar {
  right: unset;
  left: 17px;
}

.portfolio .editICo svg {
  color: white;
}
.portfolio .right-btns {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 7px;
}

.portfolio .right-btns .search-holder {
  flex: unset;
}
.portfolio .right-btns .search-holder svg,
.portfolio .right-btns .search-holder input::placeholder {
  color: var(--title-color);
}
.portfolio nav {
  gap: 10px;
  position: relative;
  border-radius: 12px;
  border: 0.5px solid #e8e8e8;
  display: flex;
  padding: 12px 22px;
  background: var(--body-color);
  flex-direction: column;
}
.portfolio nav .top {
  display: flex;
}
.portfolio nav .userImg {
  position: relative;
  width: 140px;
  height: 140px;
  z-index: 30;
  border: 6px solid var(--title-color);
  border-style: double;
  background-color: var(--paragraph-color);
}

.portfolio .userImg .editICo {
  padding: 6px;
  font-size: 16px;
  right: -2px;
}
body.ar .portfolio .userImg .editICo {
  right: unset;
  left: -5px;
}
.portfolio .editICo:hover {
  cursor: pointer;
  background: white;
}
.portfolio .editICo:hover svg {
  color: var(--title-color);
}
.portfolio nav .top .right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 0px 0px 12px;
  flex: 1;
}
body.ar .portfolio nav .top .right {
  margin: 0px 12px 0px 0px;
}
.portfolio nav .top .right .left-data {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 18px;
}
.portfolio.marketPage nav .top .right .left-data {
  gap: 7px;
}
.portfolio nav .top .right .left-data h5 {
  font-size: 16px;
}
.portfolio nav .bottom {
  display: flex;
  justify-content: space-between;
}
.portfolio nav .leftHolder {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: -104px 0;
  width: fit-content;
  height: fit-content;
}
.portfolio nav .top h4 {
  font-size: 30px;
}
.portfolio nav .bottom div {
  display: flex;
  gap: 5px;
}

.portfolio .small-followers img {
  margin-left: -4px;
  border: 1px solid #bababa;
  cursor: pointer;
}
.portfolio .bottom-holder {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  position: relative;
  margin-top: 7px;
  gap: 7px;
}
.portfolio .bottom-holder .side-menu {
  height: fit-content;
  position: sticky;
  top: 10px;
  max-width: 32%;
  min-width: 32%;
  padding: 0;
  border: unset;
  background: unset;
  gap: 5px;
  display: flex;
  flex-direction: column;
}
.portfolio .bottom-holder .side-menu:has(.Filter-Holder) {
  max-width: 23%;
  min-width: 23%;
  max-height: 91vh;
  overflow: auto;
  border: 0.5px solid #e8e8e8;
}
.portfolio
  .bottom-holder
  .side-menu:has(.Filter-Holder)::-webkit-scrollbar-track {
  background: var(--body-color);
}
.portfolio .sideSection .Filter-Holder.forCat {
  padding: 15px 8px !important;
}
.portfolio .sideSection .Filter-Holder.forCat .filter-title {
  padding-left: 8px;
}
.portfolio .bottom-holder .side-menu > * {
  background: var(--body-color);
  border-radius: 10px;
  padding: 15px 17px;
  border: 0.5px solid #e8e8e8;
}
.portfolio .bottom-holder .side-menu:has(.Filter-Holder) > * {
  border: unset;
}
.portfolio .bottom-holder .side-menu .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 6px;
}
.portfolio .bottom-holder .side-menu .about .top {
  margin-bottom: -2px;
}
.portfolio .bottom-holder .side-menu .about .seeMore {
  cursor: pointer;
  font-weight: 400;
  margin: 0 3px;
  transition: 0.3s;
}
.portfolio .bottom-holder .side-menu .about .seeMore:hover {
  color: var(--main-color);
}
.portfolio .bottom-holder .side-menu .top button {
  font-weight: 500;
  display: flex;
  align-items: center;
  font-size: 13px;
  transition: 0.3s;
}
.portfolio .bottom-holder .side-menu .top button svg {
  font-size: 15px;
}
body.ar .portfolio .bottom-holder .side-menu .top button svg {
  transform: rotate(180deg);
}

.portfolio .bottom-holder .side-menu .top button:hover,
.portfolio .bottom-holder .side-menu .top button:hover svg {
  color: var(--main-color);
}

.portfolio .bottom-holder .side-menu .about {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 600;
}
.portfolio .bottom-holder .side-menu .about li {
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 7px;
}
.portfolio .bottom-holder .side-menu .about li span {
  font-weight: 500;
  font-size: 15px;
  color: var(--paragraph-color);
}
.portfolio .bottom-holder .side-menu .images .hold {
  position: relative;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(3, 1fr);
}
.portfolio .bottom-holder .side-menu .images img {
  position: relative !important;
  max-width: 100%;
  width: 100% !important;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  aspect-ratio: 1.2 / 1;
}
.portfolio .bottom-holder .bigSection .about .friends {
  display: flex;
  flex-direction: column;
}
.portfolio .bottom-holder .friends .hold {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}
.portfolio .bottom-holder .bigSection .about .friends .hold {
  gap: 8px;
  grid-template-columns: repeat(4, 1fr);
}
.portfolio .bottom-holder .bigSection .about .friends .hold .chat {
  flex-direction: row;
  gap: 7px;
  padding: 6px 8px;
}
.portfolio .bottom-holder .bigSection .about .friends .hold img {
  width: 60px !important;
  height: 60px !important;
}
.portfolio .bigSection .about .friends > div {
  padding: 0;
}
.portfolio .bottom-holder .side-menu .hold {
  gap: 6px !important;
}
.portfolio .bottom-holder .friends .hold > svg,
.portfolio .bottom-holder .side-menu .images .hold > svg,
.portfolio .bigSection .friends > svg,
.portfolio .bigSection .photos > svg {
  background: var(--section-color);
  border-radius: 8px;
  width: 100%;
}
.portfolio .bigSection .photos > svg {
  background: var(--body-color);
  height: 260px;
}
.portfolio .bigSection .friends > svg {
  background: var(--body-color);
  height: 65px;
}
.portfolio .bottom-holder .friends .chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  border-radius: 11px;
  padding: 5px 6px;
  transition: 0.3s;
  background: var(--border-color);
}
.portfolio .bottom-holder .friends .chat.owner {
  position: relative;
}
.portfolio .bottom-holder .friends .chat.owner svg {
  font-size: 16px;
  margin: 0 3px;
}
.portfolio .bottom-holder .friends .chat.owner,
.portfolio .bottom-holder .friends .chat:hover {
  background: #ffa55b;
}
.portfolio .bottom-holder .friends .chat.owner:hover {
  background: #ffa55b !important;
}
.portfolio .bottom-holder .friends:has(.chat:hover) .owner {
  background: var(--border-color);
}
.portfolio .bottom-holder .friends:has(.chat:hover) .owner h4 {
  color: var(--title-color);
}
.portfolio .bottom-holder .friends .chat:hover .name-lastmessage h4,
.portfolio .bottom-holder .friends .chat.owner h4 {
  color: white;
}
.portfolio .bottom-holder .friends img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  cursor: pointer;
  position: relative !important;
  aspect-ratio: 1 / 1;
}
.portfolio .bottom-holder .friends .name-lastmessage h4 {
  font-size: 13px;
  text-align: center;
  transition: 0.3s;
}
.portfolio .bottom-holder .friends .name-lastmessage p {
  font-size: 13px;
  margin-top: -2px;
  transition: 0.3s;
}

.portfolio .bottom-holder .bigSection {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding-bottom: 25px;
}
.portfolio .bottom-holder .bigSection > .actions {
  background: var(--body-color);
  padding: 19px;
  border-radius: 8px;
  border: 0.5px solid #e8e8e8;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.portfolio .bottom-holder .bigSection:has(.grid-products) > .actions {
  padding: 14px;
}
.portfolio .bottom-holder .bigSection > .actions h4 {
  text-transform: capitalize;
}
.portfolio .bottom-holder .bigSection .posts-holder {
  margin-top: 0;
  gap: 7px;
  width: 90%;
  margin: auto;
}
.portfolio .bottom-holder .bigSection .posts-holder .post {
  max-width: 100%;
  min-width: 100% !important;
}

.portfolio .bottom-holder .bigSection .posts-holder .post .top {
  flex-direction: row !important;
}
.portfolio .posts-holder .post .middle .image img {
  max-height: 100%;
}

.portfolio .bigSection .friends {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 7px;
}
.portfolio .bigSection .friends > div {
  background: var(--body-color);
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 7px;
  cursor: pointer;
}
.portfolio .bigSection .friends > div img {
  position: relative !important;
  width: 50px !important;
  height: 50px !important;
}
.portfolio .bigSection .friends > div div {
  display: flex;
  flex-direction: column;
}
.portfolio .bigSection .about .friends > div div {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: -webkit-fill-available;
}
.portfolio .bigSection .about .friends h4 {
  text-align: unset;
}
.portfolio .bigSection .friends > div p {
  font-size: 14px;
}
.portfolio .bigSection .photos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 7px;
  padding: 0 3px;
}
.portfolio .bigSection .grid-products {
  padding: 0;
  grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
}
.portfolio .bigSection:not(:has(.grid-products)) .photos img {
  position: relative !important;
  max-width: 100%;
  height: 260px !important;
  object-fit: cover;
  border-radius: 9px;
  cursor: pointer;
}
.portfolio .bigSection .about {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 600;
  background: var(--body-color);
  padding: 15px;
  border-radius: 8px;
  border: 0.5px solid #e8e8e8;
}
.portfolio .bigSection .about .holder ul {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.portfolio .bigSection .about li {
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 7px;
}
.portfolio .bigSection .about li span {
  font-weight: 500;
  font-size: 15px;
  color: var(--paragraph-color);
}

@media (min-width: 1700px) {
  .portfolio .posts-holder .post .images.small img {
    max-height: 450px;
  }
  .portfolio .posts-holder .post .images.mid img {
    max-height: 372px;
  }
  .portfolio .posts-holder .post .images.big img {
    max-height: 362px;
  }
}

@media (max-width: 1700px) {
  .portfolio .bottom-holder .side-menu {
    min-width: 38%;
  }
  .portfolio .bottom-holder .bigSection .posts-holder {
    width: 100%;
  }
}

@media (max-width: 1600px) {
  .portfolio .bottom-holder .side-menu {
    min-width: 42%;
  }
  body:has(.chats.active) .portfolio {
    width: 95%;
  }
}

@media (max-width: 1400px) {
  .portfolio .bottom-holder .friends .name-lastmessage p {
    font-size: 12px;
  }
  .portfolio .bottom-holder .friends .name-lastmessage h4 {
    font-size: 12px;
  }
}

@media (max-width: 1300px) {
  .portfolio {
    width: 95%;
  }
  .posts-holder {
    gap: 7px;
  }
  .portfolio .bottom-holder .friends .name-lastmessage h4 {
    font-size: 13px;
  }
}

@media (max-width: 1200px) {
  .portfolio {
    width: 100%;
    padding: 0 10px;
  }
}

@media (max-width: 1000px) {
  body:has(.portfolio) header {
    margin: 0;
  }
  .portfolio nav .top .right {
    margin: 40px 0px 0px 0;
    flex-direction: column;
  }
  .portfolio .leftHolder {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .portfolio nav .bottom {
    display: flex;
    justify-content: center;
    gap: 7px;
  }
  .portfolio .top .cover {
    height: 160px;
  }
  .portfolio nav .userImg {
    width: 125px;
    height: 125px;
  }
  .portfolio nav .top .right {
    margin: 30px 0px 0px 0;
  }
  .portfolio .bottom-holder .side-menu .images .hold {
    gap: 10px;
  }
  .portfolio .bottom-holder .friends .hold {
    gap: 25px;
    row-gap: 17px;
  }
  .portfolio .bottom-holder .friends .name-lastmessage h4,
  .portfolio .bottom-holder .friends .name-lastmessage p {
    font-size: 16px;
  }
  .portfolio .bottom-holder .side-menu .hold {
    grid-template-columns: repeat(3, 1fr) !important;
  }
  .portfolio .bottom-holder {
    flex-direction: column-reverse !important;
    padding-bottom: 60px;
  }
  .portfolio nav .main-button {
    font-size: 16px;
    font-weight: 500;
  }
  .portfolio .search-holder input {
    font-size: 17px;
  }
  .portfolio .search-holder input:focus,
  .portfolio .search-holder input:not(:placeholder-shown) {
    width: 170px;
  }
  .portfolio .search-holder input:not(:placeholder-shown) {
    padding: 11px 33px 11px 34px;
  }
  .portfolio nav .top .right .left-data h5 {
    font-size: 19px;
  }
  body:has(.portfolio) {
    padding-left: 0;
  }
  .portfolio .small-followers {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .portfolio .bottom-holder .side-menu {
    width: 100%;
    max-width: unset;
  }
  .portfolio .bigSection .grid-products {
    grid-template-columns: repeat(auto-fill, minmax(295px, 1fr));
  }
}
@media (max-width: 768px) {
  body > main > .holder:has(.portfolio) {
    margin-top: 52px;
  }
  body:has(.portfolio) {
    height: unset;
  }

  .portfolio .bigSection .photos {
    grid-template-columns: repeat(2, 1fr);
  }
  .portfolio .bottom-holder .bigSection .posts-holder {
    padding: 0;
  }
  .portfolio .bottom-holder {
    padding-bottom: 60px;
  }
  .portfolio nav .bottom div {
    flex-wrap: wrap;
  }
  .portfolio nav .bottom {
    flex-direction: column;
  }
  .portfolio nav .bottom .main-button {
    font-size: 15px;
    flex: 1;
    height: 34px;
    min-width: 49%;
  }
  .portfolio nav .top .right .left-data {
    flex-direction: column;
    gap: 1px;
    margin-bottom: 8px;
  }
  .portfolio .editICo {
    font-size: 12px;
    border-radius: 5px;
    padding: 6px 7px;
    gap: 4px;
  }
  .portfolio .right-btns {
    flex-wrap: wrap;
    justify-content: center;
  }
  .portfolio .right-btns .main-button {
    flex: 1;
    height: 34px;
  }
  .portfolio.marketPage .search-holder input {
    width: 100% !important;
    height: 34px;
    max-width: unset;
    color: var(--title-color);
  }
  .portfolio.marketPage .search-holder input::placeholder {
    color: var(--title-color) !important;
    font-weight: 500;
  }
}
