@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}
.Chats, main {
  margin: 0;
  padding: 0;
}


:root {
  --body-color:   #ffffff;
  --main-color:   #ff8e31;
  --second-color:   #ccebff;
  --third-color:   #ffc187;
  --title-color:   #454545;
  --second-section-color:#d5d5d5;
  --paragraph-color : #858585;
  --section-color: #f1f1f1;
  --section-color2:#ffffff;
  --border-color: #d4d4d4;
  --red-color: #df3a3a;
  --box-shadow: rgb(0 0 0 / 17%) 0px 0px 23px -5px;
  --back-grident: linear-gradient(60deg, #ff9b30 30%, #ff6b14 93%);
}
body.dark {
  --body-color:   #171918;
  --title-color:   #c8c8c8;
  --second-section-color:#fff;
  --paragraph-color :   #909090;
  --section-color:#212121;
  --section-color2:#171918;
  --border-color: #525252;
  --box-shadow: rgb(0 0 0 / 24%) 0px 0px 23px -5px;
}

body {
  padding: 15px;
  width: 100vw;
  overflow: hidden;
  display: flex;
  font-family: 'Rubik', sans-serif;
  background-color: #f4f4f4;
}

::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 5rem;
}

/* Mozilla browsers (Firefox) */
::-moz-scrollbar {
  width: 6px;
  height: 8px;
}
::-moz-scrollbar-track {
  background: transparent;
}
::-moz-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 5rem;
}

/* Microsoft browsers (Edge, IE) */
::-ms-scrollbar {
  width: 6px;
  height: 8px;
}
::-ms-scrollbar-track {
  background: transparent;
}
::-ms-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 5rem;
}

html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}                                                                   
h1,h2,h3,h4,h5,h6,li,svg,a {
  margin: 0;
  padding: 0;
  color: var(--title-color);
}
svg {
  transition: 0.3s;
  cursor: pointer;
}
p {
  margin: 0;
  padding: 0;
  color: var(--paragraph-color);
}
ul {
  list-style: none;
  margin: 0;
  padding:0;
}
hr {
  background: var(--border-color);
  height: 2px;
  border: none;
}
input,
textarea {
  outline: none;
  border: none;
  border-radius: 6px;
  color: var(--title-color);
  background: transparent;
  font-family: 'Rubik';
}
body.ar input {
  direction: rtl;
  font-size: 14px !important;
}
button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-family: 'Rubik' !important;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 800px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1600px) {
  .container {
    width: 1470px;
  }
}

body > main {
  flex: 1;
}
body > main > .holder{
  position: sticky;
  max-height: 92vh;
  overflow: auto;
}

.chats {
  margin-right: 15px;
  background: var(--body-color);
  width: 334px;
  border-radius: 11px;
  padding: 9px 0 0;
  height: 97vh;
  position: sticky;
  top: 12px;
  transition: 0.3s;
  outline: 2px solid #e8e8e8;
  z-index: 81;
}
.chats .open-close {
  position: absolute;
  top: 50%;
  color: white;
  transform: translateY(-50%);
  background: var(--back-grident);
  border-radius: 0px 15px 15px 0px;
  height: 45px;
  padding: 6px;
  width: 9px;
  right: -12px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: right 0.2s, width 0.3s;
}
.chats .open-close:hover,
.chats.hide:hover .open-close {
  width: 27px;
  right: -27px;
  transition: right 0.4s, width 0.3s;
}
.chats .open-close svg {
  color: white;
  font-size: 18px;
}
.chats .top {
  display: flex;
  gap: 19px;
  align-items: center;
  padding: 0px 19px;
}
.chats .top h4 {
  font-size: 21px;
  font-weight: 500;
}
.search-holder .search-btn {
  display: none;
}
.search-holder {
  position: relative;
  flex: 1;
}

.chats .search-holder input {
  padding: 6px 33px 6px 34px !important;
  width: 100% !important;
}

.chats hr {
  margin: 10px 0 12px;
  padding: 0px 19px;
}

.chats .filters {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
  margin-bottom: 16px;
  gap: 5px;
  padding: 0px 19px;
}
.chats .filters li {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 35px;
  overflow: hidden;
  transition: 0.35s;
  cursor: pointer;
  padding: 4px 8px;
}
.chats .filters li.active,
.chats .filters li:hover {
  width: 97px !important;
  border-radius: 5px;
  color: white;
  background: var(--back-grident);
}
.chats .filters li.active {
  background: var(--main-color);
}
.chats .filters li.active svg,
.chats .filters li:hover svg {
  color: white;
}
.chats .filters:has(li:not(.active):hover) li.active {
  width: 35px !important;
  background: transparent;
}
.chats .filters:has(li:not(.active):hover) li.active svg {
  color: var(--title-color);
}
.chats .filters li:nth-child(3).active,
.chats .filters li:nth-child(3):hover {
  width: 108px !important;
}
.chats .filters li:first-child.active,
.chats .filters li:first-child:hover {
  width: 105px !important;
}
.chats .filters li svg {
  min-width: 23px;
  min-height: 23px;
}
.chats .filters li:nth-child(5) svg {
  min-width: 25px;
  min-height: 17px;
}
.chats .holder {
  display: flex;
  flex-direction: column;
  padding: 0 8px;
  overflow-y: auto;
  max-height: 85.8vh;
  overflow-x: hidden;
}
.chats .chat {
  display: flex;
  align-items: center;
  width: 320px;
  transition: 0.3s;
  border-radius: 8px;
  padding: 7px 10px;
  cursor: pointer;
}
.chats .chat:hover, 
.chats .chat.active {
  background: #e2e2e2;
}
.chats .chat img {
  border-radius: 50%;
  object-fit: cover;
}
.chats .chat img.status {
  outline: 2px solid var(--main-color);
  padding: 2px;
}
.chats .chat .name-lastmessage {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-left: 10px;
  transition: 0.3s;
}
.chats .chat .name-lastmessage p {
  width: 194px;
  display: flex;
  align-items: center;
  gap: 3px;
}
.chats .chat .details {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-end;
  font-size: 13px;
  transition: 0.3s;
  height: 38px;
}
.chats .chat .details span {
  color: var(--title-color);
  font-weight: 500;
  width: max-content;
}
.chats .chat .details span.count {
  background: var(--back-grident);
  padding: 2px 5px;
  border-radius: 4px;
  color: rgb(44, 44, 44);
  font-size: 12px;
  transition: 0.3s;
  color: white;
}
.chats .chatico {
  display: none;
}

.chats .userMenu {
  position: fixed;
  border-radius: 7px;
  overflow: hidden;
  width: auto;
  left: 18.9%;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  background: var(--section-color);
  box-shadow: 0px 0px 8px 1px #d1d1d1;
}
.chats .userMenu.active {
  opacity: 1;
  visibility: visible;
}
.chats .userMenu .top {
  justify-content: space-between;
  padding: 10px 13px 10px 15px;
  margin: 0;
  margin-bottom: 0;
  background: var(--back-grident);
  color: white;
  font-weight: 500;
  font-size: 15px;
}
.chats .userMenu .top svg {
  color: white;
  font-size: 19px;
}
.chats .userMenu ul {
  padding: 6px;
}
.chats .userMenu li {
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 8px 10px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  color: var(--title-color);
  transition: 0.3s;
  cursor: pointer;
}
.chats .userMenu li:hover {
  background: var(--border-color);
}
.chats .userMenu li.danger:hover {
  color: white;
  background-color: var(--red-color);
}
.chats .userMenu li.danger:hover svg {
  color: white;
}
.chats .userMenu li svg {
  transform: translateY(1px);
  font-size: 17px;
}





.chats.hide .chat {
  width: 46px;
  min-height: 53px;
  padding: 7px 0;
  position: relative;
}
.chats.hide .chat .details span.count {
  font-size: 12px;
  position: absolute;
  left: -4px;
  top: 0;
  padding: 1px 4px;
}
.chats.hide .name-lastmessage, 
.chats.hide .details span:first-child {
  opacity: 0;
  visibility: hidden;
}
.chats.hide .filters,
.chats.hide .search-holder,
.chats.hide .top h4 {
  display: none;
}
.chats.hide {
  min-width: unset;
  width: 60px;
  padding: 13px 3px;
}
.chats.hide > .top {
  padding: 0;
  justify-content: center;
}
.chats.hide .holder {
  padding: 0 5px;
  overflow-y: hidden;
  max-height: 90vh;
}
.chats.hide .chatico {
  display: flex;
  font-size: 33px;
  color: var(--main-color);
}
.chats.hide hr {
  margin: 6px 0 9px;
}
.chats.hide .open-close svg {
  rotate: 180deg;
}

.holder:has(.chat-page) {
  height: 91vh;
  overflow: unset;
}

.chat-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 91%;
  filter: grayscale(0.15);
}
.chat-page > img {
  width: 55%;
}
.chat-page h1 {
  font-size: 30px;
  text-align: center;
}


.chat-page:has(.chats) {
  padding: 0;
}
.chat-page .chats {
  width: 100%;
  height: 100%;
}
.chat-page .chats {

}
.chat-page .chats {

}
.chat-page .chats {

}


/*! HEADER */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--body-color);
  border-radius: 10px;
  padding: 6px 25px;
  outline: 2px solid #e8e8e8;
  margin-bottom: 16px;
  position: sticky;
  top: 12px;
  z-index: 100;
}

header .logo {
  display: flex;
  align-items: center;
  gap: 11px;
  margin-left: -5px;
}
header .logo img {
  width: 40px;
  height: 40px;
  margin: -51px 0 -52px -3px;
  border-radius: 50%;
  z-index: 1;
}
.search-holder {
  position: relative;
}
.search-holder input {
  font-size: 14px;
  padding: 7px 33px 7px 34px;
  border-radius: 5px;
  border: 2px solid var(--border-color);
  width: 190px;
  transition: 0.3s;
}
.search-holder:has(input:focus) svg:first-child,
.search-holder:has(input:not(:placeholder-shown)) svg:first-child {
  color: var(--main-color);
}
.search-holder input:focus,
.search-holder input:not(:placeholder-shown) {
  border: 2px solid var(--main-color);
  width: 230px;
}
.search-holder svg {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #828282;
}
.search-holder svg.delete {
  right: 4px;
  left: unset;
  width: 30px;
  height: 30px;
  padding: 5px;
}
.search-holder svg.delete:hover {
  color: var(--red-color);
}
.search-holder .result {
  display: none;
}
header nav {
  display: flex;
  gap: 3px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
header nav a {
  padding: 11px 20px;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 500;
  color: var(--title-color);
  transition: 0.3s;
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
}
header nav a:hover {
  color: var(--title-color) !important;
}
header nav a svg {
  font-size: 19px;
}
header nav a:hover svg,
header nav a.active svg {
  color: white;
}
header nav a.active {
  color: white;
  background: var(--back-grident);
}
header nav a:hover {
  color: white !important;
  background: var(--back-grident);
}
header .events {
  display: flex;
  align-items: center;
  gap: 7px;
}
header .events > li {
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 18px;
  transition: 0.3s;
}
header .events li:hover {
  background: var(--main-color);
  border-color: transparent;
}
header .events li:hover svg {
  color: white;
}
header .events li span.length {
  position: absolute;
  right: -7px;
  top: -7px;
  font-size: 11px;
  background: var(--back-grident);
  color: var(--body-color);
  padding: 3px 4px;
  border-radius: 4px;
  transition: 0.3s;
}
header .events li:hover span.length {
  color: var(--body-color);
  background-color: var(--title-color);
}
header .events li img {
  object-fit: cover;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
header .events li.user {
  border: none;
  padding: 0;
  background: transparent !important;
}
header .events > li.user > svg {
  position: absolute;
  right: -2px;
  top: 23px;
  font-size: 14px;
  background: var(--title-color) !important;
  color: white;
  border-radius: 50%;
  padding: 1px;
}
header .events > li.user:has(.menu.active) > svg {
  right: 0;
  top: 0;
  rotate: -360deg;
  color: var(--body-color);
  font-size: 40px;
  padding: 8px;
  background: var(--back-grident) !important;
}
header .events > li.user > svg.x {
  opacity: 0;
}
header .events > li.user:has(.menu.active) > svg.x {
  opacity: 1;
}
header .events > li.user:has(.menu.active) > svg.angle {
  opacity: 0;
}
header .events li.notifications svg {
  font-size: 23px;
}

header .events .menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: -moz-fit-content;
  background: var(--section-color);
  border-radius: 8px;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: 0.35s;
  z-index: 100;
  box-shadow: 0px 0px 15px 0px #b8b8b8;
}
header .events .userMenu {
  right: -24px;
  top: 50px;
  width: 270px;
}
header .events .userMenu.active {
  visibility: visible;
  opacity: 1;
  top: 59px;
}

header .events .userMenu ul {
  padding: 9px;
  padding-top: 6px;
}
header .events .userMenu > a {
  border-radius: 0;
  background: var(--back-grident);
  padding: 16px 22px;
  color: white;
  display: flex;
  align-items: center;
  gap: 7px;
  transition: 0.3s;
}
header .events .userMenu > a:hover {
  background: var(--border-color);
  color: var(--title-color);
}
header .events .userMenu ul > button:last-child:hover {
  color: white;
  background: var(--red-color);
}
header .events .userMenu > a svg {
  color: white !important;
}
header .events .userMenu > a:hover svg {
  color: var(--title-color) !important;
}
header .events .userMenu ul > button:last-child:hover svg {
  color: white !important;
}
header .events .userMenu button {
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 15px 12px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  color: var(--title-color);
  transition: 0.3s;
  width: 100%;
  font-family: 'Rubik';
}
header .events .userMenu button:hover {
  background: var(--second-section-color);
}
header .events .userMenu svg {
  font-size: 24px;
  color: var(--title-color) !important;
}


.posts-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 12px;
  margin-bottom: 65px;
  gap: 15px;
}
.post {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 1px solid #e8e8e8;
  border-radius: 9px;
  max-width: 43%;
  min-width: 42%;
  overflow: hidden;
  background: var(--body-color);
}
.post .noCommentsYet {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 23px 0px 30px;
}
.post .noCommentsYet svg {
  font-size: 67px;
  color: var(--main-color);
}
.post .noCommentsYet h4 {
  color: var(--main-color);
  font-size: 18px;
}
.post .noCommentsYet p {
  font-weight: 500;
  font-size: 15px;
}

.post img {
  position: relative !important;
}
.post .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e8e8e8;
  padding: 7px 12px;
}
.post .top .left {
  display: flex;
  align-items: center;
  gap: 10px;
}
.post .comment .top .left {
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
}
.post .top img {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  object-fit: cover;
}
.post .top .info h5 {
  font-size: 14px;
  font-weight: 500;
}
.post .top .info span {
  font-size: 12px;
  color: var(--paragraph-color);
  font-weight: 500;
  display: block;
}
.post .top svg {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  padding: 7px;
}
.post .top svg:hover {
  color: white;
  background: var(--back-grident);
}

.post .middle {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 2px 16px;
}
.post .middle a {
  color: #005dff;
  text-decoration: underline;
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 14px;
}
.post .middle p {

}
.post .middle .image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.post .middle .image img {
  width: unset !important;
  height: unset !important;
  max-height: 400px;
  max-width: 100%;
  object-fit: contain;
  border-radius: 7px;
}
.post .middle .images {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}
.post .images img {
  width: unset !important;
  height: unset !important;
  max-width: 100%;
  border-radius: 6px;
  width: fit-content;
  object-fit: cover;
}

.post .images.big img {
  width: 32.4% !important;
  max-height: 214px;
}
.post .images.big img:first-child,
.post .images.big img:nth-child(2) {
  width: 49.3% !important;
}

.post .images.mid img {
  width: 49.3% !important;
  max-height: 300px;
}
.post .images.mid img:first-child {
  width: 100% !important;
}

.post .images.small img {
  width: 49.3% !important;
  max-height: 300px;
}

.post .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #e8e8e8;
  padding: 14px;
  position: relative;
}

.post .emojesCounter {
  display: flex;
  align-items: center;
  font-size: 19px;
}
.post .emojesCounter p {
  font-size: 18px;
  margin-left: -5px;
  background: var(--section-color);
  border-radius: 50%;
  padding: 2px;
}
.post .emojesCounter p:first-child {
  margin-left: 0;
}
.post .emojesCounter p:last-child {
  font-size: 16px;
  background: transparent;
  margin-left: -1px;
}

.post .bottom .actions {
  display: flex;
  align-items: center;
  gap: 6px;
  left: 50%;
  top: 140%;
  transition: 0.3s;
  position: absolute;
  transform: translate(-50%, -50%);
}
.post .bottom .actions svg {
  width: 35px;
  height: 35px;
  background: #6ea6ea;
  color: white;
  border-radius: 50%;
  padding: 6px;
  transition: 0.3s;
}
.post:hover .actions {
  top: 50%;
}
.post .bottom .actions svg:hover {
  background: var(--back-grident);
}
.post .bottom .right {
  display: flex;
  align-items: center;
  gap: 12px;
}
.post .comment .right {
  gap: 0;
}
.post .comment .bottom .right {
  gap: 6px;
}
.post .comment .emojesCounter p {
  font-size: 17px;
}
.post .bottom .right div {
  display: flex;
  align-items: center;
  gap: 3px;
  color: var(--paragraph-color);
}
.post .bottom .right div svg {
  color: var(--paragraph-color);
}
.post .bottom .right div:first-child svg {
  font-size: 19px;
}


.post .comments {
  padding: 14px;
}
.post .comments .top {
  border: none;
  padding: unset;
  margin-bottom: 7px;
}
.post .comments .top h3 {
  color: var(--paragraph-color);
  font-size: 17px;
  font-weight: 500;
}
.post .comments .top svg {
  padding: 0;
  width: 28px;
  height: 28px;
}
.post .comments .top svg:hover {
  background: var(--red-color);
  color: white;
}
.post .comments .holder {
  display: flex;
  flex-direction: column;
  gap: 2px;
  max-height: 449px;
  overflow: auto;
}
.post .comments .holder .comment {
  display: flex;
  gap: 12px;
  border-bottom: 1px solid var(--border-color);
  padding: 10px;
}
.post .comments .holder .comment:last-child {
  border: none;
}
.post .comments .holder .comment .image-holder {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.post .comments .holder .comment .image-holder span {
  position: relative;
  height: 100%;
}
.post .comments .holder .comment .image-holder span::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 1px;
  height: 100%;
  background: var(--border-color);
  transform: translateX(-50%);
}
.post .comments .holder .comment .image-holder span::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: var(--border-color);
  transform: translate(-50%, -50%);
}
.post .comments .holder .comment .image-holder img {
  border-radius: 50%;
  object-fit: cover;
}
.post .comments .holder .comment .content img {
  border-radius: 10px;
  position: relative !important;
  max-height: 110px;
  width: fit-content !important;
}
.post .comments .holder .comment .content h5 {
  margin-top: 5px;
  font-size: 14px;
}
.post .comments .holder .comment .content span {
  color: var(--paragraph-color);
  font-weight: 400;
  font-size: 13px;
  display: flex;
}
.post .comments .holder .comment .content .holder > p {
  font-size: 15px;
  margin: 2px 0 1px;
  line-height: 1.3;
}
.post .comments .holder .comment .bottom {
  border: none;
  padding: 0;
}
.post .comments .holder .comment .bottom .left {
  display: flex;
  align-items: center;
  gap: 6px;
}
.post .comments .holder .comment .bottom svg {
  color: var(--paragraph-color);
  font-size: 18px;
}
.post .comments .holder .comment .bottom button {
  color: var(--paragraph-color);
  font-weight: 500;
  font-size: 12px;
  transition: 0.3s;
}
.post .comments .holder .comment .bottom button:hover {
  color: var(--main-color);
}
.post .comments .holder .comment .content {
  flex: 1;
}

.post .comments .action-holder {
  border-radius: 7px;
  border: 1.5px solid var(--border-color);
  display: flex;
  flex-direction: column;
}
.post .comments .action-holder .top {

}
.post .comments .action-holder .top textarea {
  flex: 1;
  resize: none;
  padding: 12px;
  height: 74px;
}
.post .comments .action-holder .actions  {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 13px 7px 10px;
  padding-left: 10px;
  border-top: 1px solid var(--border-color);
}
.post .comments .action-holder .actions .left {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  font-weight: 500;
  color: var(--title-color);
}
.post .comments .action-holder .actions .left img {
  border-radius: 50%;
}
.post .comments .action-holder .actions .right {
  display: flex;
  align-items: center;
  gap: 10px;
}
.post .comments .action-holder .actions .right svg:first-child  {
  font-size: 16px;
}
.post .comments .action-holder .actions .right svg  {
  font-size: 18px;
}
.post .comments .action-holder .actions .right svg:hover  {

}
.post .comments .action-holder .actions .right button  {
  background: var(--back-grident);
  color: white;
  padding: 11px 15px;
  border-radius: 6px;
  font-weight: 500;
}


/*! Media */

@media (max-width: 1700px) {
  body main header nav {
    position: relative;
    transform: unset;
    left: unset;
  }
  .post {
    max-width: 52%;
    min-width: 50%;
  }
}
@media (max-width: 1600px) {
  body:has(.chats.false) main header nav svg {
    display: none;
  }
  .post {
    max-width: 56%;
    min-width: 55%;
  }
}
@media (max-width: 1500px) {
  header nav a {
    padding: 14px 11px;
  }
  .post {
    max-width: 61%;
    min-width: 59%;
  }
}
@media (max-width: 1400px) {
  .post {
    max-width: 66%;
    min-width: 55%;
  }
}
@media (max-width: 1300px) {
  header nav a {
    padding: 14px 10px;
  }
  .search-holder input {
    width: 118px;
  }
  .search-holder input:focus,
  .search-holder input:not(:placeholder-shown) {
    width: 140px;
  }
  header .logo img {
    margin: -4px 0 -4px -3px;
  }
}
@media (max-width: 1200px) {
  body:has(.chats.false) main header nav svg {
    display: flex;
    font-size: 25px;
  }
  header nav a {
    padding: 8px 15px;
  }
  body:has(.chats.false) main header nav span {
    display: none;
  }
  .post {
    max-width: 75%;
    min-width: 72%;
  }
}
@media (max-width: 1100px) {
  header nav a {
    padding: 8px 9px;
  }
  .chats {
    width: 300px;
  }
  .chats .chat .name-lastmessage p {
    width: 162px;
  }
  .post {
    max-width: 81%;
    min-width: 79%;
  }
}
@media (max-width: 1000px) {
  
}
@media (max-width: 992px) {
  body {
    padding: 10px;
  }
  .chats {
    width: 270px;
  }
  .chats .chat .name-lastmessage p {
    width: 131px;
  }
  header .logo img {
    width: 35px;
    height: 35px;
  }
  .chats {
    height: 98vh;
  }
  body main header nav span {
    display: none;
  }
  header nav a svg {
    font-size: 25px;
  }
  .chats .filters li {
    font-size: 13px;
  }
  .chats .filters li svg {
    min-width: 18px;
  }
  header .search-holder {
    position: absolute;
    top: 0;
    width: 99%;
    left: 0px;
    transition: 0.3s;
    visibility: hidden;
    z-index: -1;
    opacity: 0;
  }
  header .search-holder.active {
    visibility: visible;
    z-index: 10;
    opacity: 1;
    top: 60px;
    background: white;
    width: 100%;
    border: 2px solid #e8e8e8;
    border-radius: 7px;
    padding: 7px;
    height: fit-content;
  }
  header .search-holder .theInput {
    position: relative;
  }
  .search-holder input {
    width: 100%;
    padding: 9px 33px 9px 34px;
  }
  .search-holder input:focus, .search-holder input:not(:placeholder-shown) {
    width: 100%;
  }
  header .logo .icons {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  header .logo .icons svg {
    display: flex;
    font-size: 26px;
    width: 35px;
    height: 35px;
    padding: 4px;
    color: #686868;
    transition: 0.3s;
    border-radius: 6px;
    border: 2px solid #e1e1e1;
  }
  header .logo .icons svg.active {
    border: none;
    color: white;
    background: var(--back-grident);
  }
  header .logo .icons svg:first-child {
    padding: 8px;
  }
  header .events > li {
    width: 35px;
    height: 35px;
  }
  .chat-page > img {
    width: 100%;
  }
  .post {
    max-width: 100%;
    min-width: 98%;
  }
}



@media (max-width: 786px) {
  body {
    padding: 0;
    overflow: unset;

  }
  body > main > .holder {
    overflow: unset;
    position: unset;
    max-height: unset;
  }
  body:has(.chat-page) header {
    display: none;
  }

  header {
    flex-direction: column;
    gap: 0;
    padding: 9px;
    padding-left: 14px;
    transition: 0.3s;
    width: 95%;
    margin: 10px auto;
  }
  header.hidden {
    top: -60px;
  }
  header:has(nav.active).hidden {
    top: -45px;
  }
  header .logo {
    width: 100%;
    justify-content: space-between;
  }
  header .events {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 9px;
    gap: 18px;
    justify-content: center;
    outline: 2px solid #e8e8e8;
    gap: 15px;
    background: var(--body-color);
  }
  body main header nav {
    width: 86%;
    height: 0;
    overflow: hidden;
    justify-content: center;
    opacity: 0;
    transition: 0.3s;
  }
  body main header:has(nav.active) {
    gap: 10px;
  }
  body main header nav.active {
    height: 37px;
    overflow: unset;
    opacity: 1;
  }
  header nav a {
    flex: 1;
    justify-content: center;
    padding: 6px 9px;
  }
  header .events > li.user:has(.menu.active) > svg {
    right: -2px;
    top: -2px;
    padding: 8px;
  }
  header .events .userMenu {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    bottom: 45px;
    top: unset;
  }
  header .events .userMenu.active {
    bottom: 55px;
    top: unset;
  }  


  .chat-page {
    height: 100%;
    justify-content: unset;
  }
  .chat-page .chats {
    margin: 0;
    padding: 13px 0 0;
  }
  .chat-page .chats .chat {
    width: unset;
  }
  .chat-page .chats .chat .name-lastmessage {
    flex: 1;
  }
  .chat-page .chats .chat img {
    width: 45px;
    height: 45px;
  }
  .chat-page .chats .filters li {
    width: 33px;
  }
  .chat-page .chats .filters li {
    font-size: 16px;
  }
  .chat-page .chats .filters li svg {
    min-width: 20px;
  }
  .chat-page .chats .chat .name-lastmessage p {
    width: 100%;
  } 
  .posts-holder {
    padding: 0 10px;
  }
  .post .images.small img {
    width: 48.3% !important;
    max-height: 160px;
  }
  .post .images.mid img {
    width: 48.3% !important;
    max-height: 160px;
  }
  .post .images.big img:first-child, .post .images.big img:nth-child(2) {
    width: 49% !important;
  }
  .post .images.big img {
    width: 31.8% !important;
    max-height: 122px;
  }
  .post .comments {
    padding: 10px;
  }
  .post .comments .action-holder .actions .left {
    font-size: 11px;
    line-height: 1;
  }
  .post .comments .action-holder .actions .right button {
    padding: 11px 9px;
    font-size: 12px;
  }
  .post .comments .action-holder .actions .right {
    gap: 8px;
  }
  .post .comments .holder .comment {
    padding: 8px 6px;
    gap: 8px;
  }
}
@media (max-width: 500px) {
  
}
@media (max-width: 360px) {
  
}