@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}
.Chats,
main {
  margin: 0;
  padding: 0;
}

:root {
  --body-color: #ffffff;
  --main-color: #ff8e31;
  --second-color: #ccebff;
  --third-color: #ffb36c;
  --title-color: #454545;
  --second-section-color: #d5d5d5;
  --paragraph-color: #858585;
  --section-color: #f1f1f1;
  --section-color2: #ffffff;
  --border-color: #e8e8e8;
  --red-color: #df3a3a;
  --box-shadow: rgb(0 0 0 / 17%) 0px 0px 23px -5px;
  --back-grident: linear-gradient(60deg, #ff9b30 30%, #ff6b14 93%);
}
body.dark {
  --body-color: #171918;
  --title-color: #c8c8c8;
  --second-section-color: #fff;
  --paragraph-color: #909090;
  --section-color: #212121;
  --section-color2: #171918;
  --border-color: #525252;
  --box-shadow: rgb(0 0 0 / 24%) 0px 0px 23px -5px;
}

body {
  padding: 0;
  width: 100vw;
  overflow: hidden;
  display: flex;
  font-family: "Rubik", sans-serif;
  background-color: #f4f4f4;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 5rem;
}

/* Mozilla browsers (Firefox) */
::-moz-scrollbar {
  width: 6px;
  height: 8px;
}
::-moz-scrollbar-track {
  background: transparent;
}
::-moz-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 5rem;
}

/* Microsoft browsers (Edge, IE) */
::-ms-scrollbar {
  width: 6px;
  height: 8px;
}
::-ms-scrollbar-track {
  background: transparent;
}
::-ms-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 5rem;
}

html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
li,
svg,
a {
  margin: 0;
  padding: 0;
  color: var(--title-color);
}
svg {
  transition: 0.3s;
  cursor: pointer;
}
p {
  margin: 0;
  padding: 0;
  color: var(--paragraph-color);
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
hr {
  background: var(--border-color);
  height: 1px;
  border: none;
}
input,
textarea {
  outline: none;
  border: none;
  border-radius: 6px;
  color: var(--title-color);
  background: transparent;
  font-family: "Rubik";
}
body.ar input {
  direction: rtl;
  font-size: 14px !important;
}
button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-family: "Rubik" !important;
}
svg.close {
  padding: 6px;
  width: 31px;
  height: 31px;
  background: var(--section-color);
  border-radius: 6px;
}
svg.close:hover {
  background: var(--red-color) !important;
  color: white !important;
}
svg.closeMenu {
  position: absolute;
  left: 20px;
  top: 20px;
  border-radius: 8px !important;
}

.main-button {
  padding: 9px 16px;
  border-radius: 6px;
  font-weight: 500;
  transition: 0.3s;
  cursor: pointer;
  background: #ebebeb;
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--title-color);
}
.main-button:hover,
.main-button.active {
  color: white;
  background: var(--main-color);
}
.main-button svg {
  font-size: 15px;
}
.main-button:hover svg,
.main-button.active svg {
  color: white;
}
.rounded {
  object-fit: cover !important;
  border-radius: 50% !important;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 800px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1600px) {
  .container {
    width: 1470px;
  }
}

body > main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: 0.5s;
}
body > main > .holder {
  overflow: auto;
}
body > main > .holder:has(.register-page) {
  align-items: center;
  display: flex;
}
body > main:has(.emoji-holder.active) > .holder {
  overflow: hidden;
}

.chats {
  margin-right: 12px;

  background: var(--body-color);
  width: 334px;
  border-radius: 11px;
  padding: 9px 0 0;
  height: 97vh;
  position: sticky;
  top: 12px;
  margin-left: 12px;
  transition: 0.3s;
  outline: 1px solid var(--border-color);
}
.chats .open-close {
  position: absolute;
  top: 50%;
  color: white;
  transform: translateY(-50%);
  background: var(--back-grident);
  border-radius: 0px 15px 15px 0px;
  height: 45px;
  padding: 6px;
  width: 9px;
  right: -12px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: right 0.2s, width 0.3s;
}
.chats .open-close:hover,
.chats.hide:hover .open-close {
  width: 27px;
  right: -27px;
  transition: right 0.4s, width 0.3s;
}
.chats .open-close svg {
  color: white;
  font-size: 18px;
}
.chats .top {
  display: flex;
  gap: 19px;
  align-items: center;
  padding: 0px 19px;
}
.chats .top h4 {
  font-size: 21px;
  font-weight: 500;
}
.search-holder .search-btn {
  display: none;
}
.search-holder {
  position: relative;
  flex: 1;
}

.chats .search-holder input {
  padding: 6px 33px 6px 34px !important;
  width: 100% !important;
}

.chats hr {
  margin: 10px 0 12px;
  padding: 0px 19px;
}

.chats .filters {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
  margin-bottom: 16px;
  gap: 5px;
  padding: 0px 19px;
}
.chats .filters li {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 35px;
  overflow: hidden;
  transition: 0.35s;
  cursor: pointer;
  padding: 4px 8px;
}
.chats .filters li.active,
.chats .filters li:hover {
  width: 97px !important;
  border-radius: 5px;
  color: white;
  background: var(--back-grident);
}
.chats .filters li.active {
  background: var(--main-color);
}
.chats .filters li.active svg,
.chats .filters li:hover svg {
  color: white;
}
.chats .filters:has(li:not(.active):hover) li.active {
  width: 35px !important;
  background: transparent;
}
.chats .filters:has(li:not(.active):hover) li.active svg {
  color: var(--title-color);
}
.chats .filters li:nth-child(3).active,
.chats .filters li:nth-child(3):hover {
  width: 108px !important;
}
.chats .filters li:first-child.active,
.chats .filters li:first-child:hover {
  width: 105px !important;
}
.chats .filters li svg {
  min-width: 23px;
  min-height: 23px;
}
.chats .filters li:nth-child(5) svg {
  min-width: 25px;
  min-height: 17px;
}
.chats .holder {
  display: flex;
  flex-direction: column;
  padding: 0 8px;
  overflow-y: auto;
  max-height: 85.8vh;
  overflow-x: hidden;
}
.chats .chat {
  display: flex;
  align-items: center;
  width: 320px;
  transition: 0.3s;
  border-radius: 8px;
  padding: 7px 10px;
  cursor: pointer;
}
.chats .chat:hover,
.chats .chat.active {
  background: #e2e2e2;
}
.chats .chat img.status {
  outline: 2px solid var(--main-color);
  padding: 2px;
}
.chats .chat .name-lastmessage {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-left: 10px;
  transition: 0.3s;
}
.chats .chat .name-lastmessage p {
  width: 194px;
  display: flex;
  align-items: center;
  gap: 3px;
}
.chats .chat .details {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-end;
  font-size: 13px;
  transition: 0.3s;
  height: 38px;
}
.chats .chat .details span {
  color: var(--title-color);
  font-weight: 500;
  width: max-content;
}
.chats .chat .details span.count {
  background: var(--back-grident);
  padding: 2px 5px;
  border-radius: 4px;
  color: rgb(44, 44, 44);
  font-size: 12px;
  transition: 0.3s;
  color: white;
}
.chats .chatico {
  display: none;
}

.chats .userMenu {
  position: fixed;
  border-radius: 7px;
  overflow: hidden;
  width: auto;
  left: 18.9%;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  background: var(--section-color);
  box-shadow: 0px 0px 8px 1px #d1d1d1;
}
.chats .userMenu.active {
  opacity: 1;
  visibility: visible;
}
.chats .userMenu .top {
  justify-content: space-between;
  padding: 10px 13px 10px 15px;
  margin: 0;
  margin-bottom: 0;
  background: var(--back-grident);
  color: white;
  font-weight: 500;
  font-size: 15px;
}
.chats .userMenu .top svg {
  color: white;
  font-size: 19px;
}
.chats .userMenu ul {
  padding: 6px;
}
.chats .userMenu li {
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 8px 10px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  color: var(--title-color);
  transition: 0.3s;
  cursor: pointer;
}
.chats .userMenu li:hover {
  background: var(--border-color);
}
.chats .userMenu li.danger:hover {
  color: white;
  background-color: var(--red-color);
}
.chats .userMenu li.danger:hover svg,
.chats .userMenu li.yellow:hover {
  color: white;
}
.chats .userMenu li.yellow:hover {
  color: white;
  background-color: orange;
}
.chats .userMenu li svg {
  transform: translateY(1px);
  font-size: 17px;
}

.chats.hide .chat {
  width: 46px;
  min-height: 53px;
  padding: 7px 0;
  position: relative;
}
.chats.hide .chat .details span.count {
  font-size: 12px;
  position: absolute;
  left: -4px;
  top: 0;
  padding: 1px 4px;
}
.chats.hide .name-lastmessage,
.chats.hide .details span:first-child {
  opacity: 0;
  visibility: hidden;
}
.chats.hide .filters,
.chats.hide .search-holder,
.chats.hide .top h4 {
  display: none;
}
.chats.hide {
  min-width: unset;
  width: 60px;
  padding: 13px 3px;
}
.chats.hide > .top {
  padding: 0;
  justify-content: center;
}
.chats.hide .holder {
  padding: 0 5px;
  overflow-y: hidden;
  max-height: 90vh;
}
.chats.hide .chatico {
  display: flex;
  font-size: 33px;
  color: var(--main-color);
}
.chats.hide hr {
  margin: 6px 0 9px;
}
.chats.hide .open-close svg {
  rotate: 180deg;
}

.holder:has(.chat-page) {
  height: 91vh;
  overflow: unset;
}

.chat-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 91%;
  filter: grayscale(0.15);
}
.chat-page > img {
  width: 55%;
}
.chat-page h1 {
  font-size: 30px;
  text-align: center;
}

.chat-page:has(.chats) {
  padding: 0;
}
.chat-page .chats {
  width: 100%;
  height: 100%;
}
.chat-page .chats {
}
.chat-page .chats {
}
.chat-page .chats {
}

/*! HEADER */

header {
  z-index: 100;
  display: flex;
  padding: 7px 25px;
  position: sticky;
  top: 12px;
  margin-right: 12px;
  align-items: center;
  border-radius: 10px;
  justify-content: space-between;
  outline: 1px solid var(--border-color);
  background-color: var(--body-color);
  transition: 0.5s !important;
}

header .logo {
  display: flex;
  align-items: center;
  gap: 11px;
  margin-left: -5px;
}
header .logo img {
  width: 40px;
  height: 40px;
  z-index: 1;
}
.search-holder {
  position: relative;
}
.search-holder input {
  font-size: 14px;
  padding: 7px 33px 7px 34px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  width: 190px;
  transition: 0.3s;
}
.search-holder:has(input:focus) svg:first-child,
.search-holder:has(input:not(:placeholder-shown)) svg:first-child {
  color: var(--main-color);
}
.search-holder input:focus,
.search-holder input:not(:placeholder-shown) {
  border: 1px solid var(--main-color);
  width: 230px;
}
.search-holder svg {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #828282;
}
.search-holder svg.delete {
  right: 4px;
  left: unset;
  width: 30px;
  height: 30px;
  padding: 5px;
}
.search-holder svg.delete:hover {
  color: var(--red-color);
}
.search-holder .result {
  display: none;
}
header nav {
  display: flex;
  gap: 3px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
header nav a {
  padding: 11px 20px;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 500;
  color: var(--title-color);
  transition: 0.3s;
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
}
header nav a:hover {
  color: var(--title-color) !important;
}
header nav a svg {
  font-size: 19px;
}
header nav a:hover svg,
header nav a.active svg {
  color: white;
}
header nav a.active {
  color: white;
  background: var(--back-grident);
}
header nav a:hover {
  color: white !important;
  background: var(--back-grident);
}
header nav a span {
  width: max-content;
}
header .events {
  display: flex;
  align-items: center;
  gap: 7px;
}
header .events > li {
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 18px;
  transition: 0.3s;
}
header .events li:hover {
  background: var(--main-color);
  border-color: transparent;
}
header .events li:hover > svg {
  color: white;
}
header .events li span.length {
  position: absolute;
  right: -7px;
  top: -7px;
  font-size: 11px;
  background: var(--back-grident);
  color: var(--body-color);
  padding: 3px 4px;
  border-radius: 4px;
  transition: 0.3s;
}
header .events li:hover span.length {
  color: var(--body-color);
  background-color: var(--title-color);
}
header .events li img {
  width: 40px;
  height: 40px;
}
header .events li.user {
  border: none;
  padding: 0;
  background: transparent !important;
}
header .events > li.user > svg {
  position: absolute;
  right: -2px;
  top: 23px;
  font-size: 14px;
  background: var(--title-color) !important;
  color: white;
  border-radius: 50%;
  padding: 1px;
}
header .events > li.user:has(.menu.active) > svg {
  right: 0;
  top: 0;
  rotate: -360deg;
  color: var(--body-color);
  font-size: 40px;
  padding: 8px;
  background: var(--back-grident) !important;
}
header .events > li.user > svg.x {
  opacity: 0;
}
header .events > li.user:has(.menu.active) > svg.x {
  opacity: 1;
}
header .events > li.user:has(.menu.active) > svg.angle {
  opacity: 0;
}
header .events li.notifications svg {
  font-size: 23px;
}

header .events .menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: -moz-fit-content;
  background: var(--section-color);
  border-radius: 8px;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: 0.35s;
  z-index: 100;
  box-shadow: 0px 0px 15px 0px #b8b8b8;
}
header .events .menu {
  right: -24px;
  top: 50px;
  width: 270px;
}
header .events .menu.active {
  visibility: visible;
  opacity: 1;
  top: 52px;
}

header .events .menu ul {
  padding: 9px;
  padding-top: 6px;
}
header .events .menu > .title {
  border-radius: 0;
  background: var(--back-grident);
  padding: 16px 22px;
  color: white;
  display: flex;
  align-items: center;
  gap: 7px;
  transition: 0.3s;
}
header .events .userMenu > .title:hover {
  background: var(--border-color);
  color: var(--title-color);
}
header .events .userMenu ul > button:last-child:hover {
  color: white;
  background: var(--red-color);
}
header .events .menu > a svg {
  color: white !important;
}
header .events .menu > a:hover svg {
  color: var(--title-color) !important;
}
header .events .userMenu ul > button:last-child:hover svg {
  color: white !important;
}
header .events .menu button {
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 15px 12px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  color: var(--title-color);
  transition: 0.3s;
  width: 100%;
  font-family: "Rubik";
}
header .events .menu button:hover {
  background: var(--second-section-color);
}
header .events .menu svg {
  font-size: 24px;
  color: var(--title-color) !important;
}

header .events .menu.createMenu svg {
  font-size: 20px;
}

.posts-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 65px;
  gap: 7px;
  margin-top: 15px;
}
.post {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 0.5px solid var(--border-color);
  border-radius: 9px;
  max-width: 43%;
  min-width: 43%;
  overflow: hidden;
  background: var(--body-color);
}
.post .noCommentsYet {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 23px 0px 30px;
}
.post .noCommentsYet svg {
  font-size: 67px;
  color: var(--main-color);
}
.post .noCommentsYet h4 {
  color: var(--main-color);
  font-size: 18px;
}
.post .noCommentsYet p {
  font-weight: 500;
  font-size: 15px;
}

.post img {
  position: relative !important;
}
.post .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  padding: 7px 12px;
}
.post .top .icons-holder {
  display: flex;
}
.focusedMsg.forPosts .icons-holder .closeMenu {
      position: relative;
    left: unset;
    top: unset;
}
.post .top .left {
  display: flex;
  align-items: center;
  gap: 10px;
}
.post .comment .top .left {
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
}
.post .top img {
  width: 45px;
  height: 45px;
}
.post .top .info h5 {
  font-size: 14px;
  font-weight: 500;
}
.post .top .info span {
  font-size: 12px;
  color: var(--paragraph-color);
  font-weight: 500;
  display: block;
}
.post .top svg {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  padding: 7px;
}
.post .top svg:hover {
  color: white;
  background: var(--back-grident);
}

.post .middle {
  display: flex;
  flex-direction: column;
  gap: 6px;

  padding: 2px 16px;
}
.post .Links {
  display: flex;
  gap: 2px;
  flex-direction: column;
}
.post .Links div {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.post .mentions {
  display: flex;
  gap: 5px;
  row-gap: 1px;
  align-items: center;
  flex-wrap: wrap;
}
.post .mentions h5 {
  font-size: 14px;
}
.post .mentions button {
  color: var(--title-color) !important;
  font-weight: 600 !important;
  text-decoration: unset !important;
}
.post .mentions button:hover {
  color: #005dff !important;
  text-decoration: underline !important;
}
.post .middle a {
  color: #005dff;
  text-decoration: underline;
  font-family: "Rubik";
  font-weight: 400;
  font-size: 14px;
  width: fit-content;
}
.post .middle a:focus-visible {
  outline: none;
}
.post .middle .image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.post .middle .image img {
  max-height: 400px;
  max-width: 100%;
  object-fit: contain;
  border-radius: 7px;
  cursor: pointer;
  height: 400px;
}
.post .middle .images {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}
.post .images img {
  width: unset !important;
  height: unset !important;
  max-width: 100%;
  border-radius: 6px;
  width: fit-content;
  object-fit: cover;
  cursor: pointer;
}

.post .images.big img {
  width: 32.4% !important;
  max-height: 214px;
}
.post .images.big img:first-child,
.post .images.big img:nth-child(2) {
  width: 49.3% !important;
}

.post .images.mid img {
  width: 49.3% !important;
  max-height: 300px;
}
.post .images.mid img:first-child {
  width: 100% !important;
}

.post .images.small img {
  width: 49% !important;
  max-height: 300px;
}

.post .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--border-color);
  padding: 14px;
  position: relative;
}

.post .emojesCounter {
  display: flex;
  align-items: center;
  font-size: 19px;
  min-width: 65px;
}
.post .emojesCounter p {
  font-size: 18px;
  margin-left: -5px;
  background: var(--section-color);
  border-radius: 50%;
  padding: 2px;
  cursor: pointer;
}
.post .emojesCounter p:first-child {
  margin-left: 0;
}
.post .emojesCounter p:last-child {
  font-size: 16px;
  background: transparent;
  margin-left: -1px;
}

.post .bottom .right {
  display: flex;
  align-items: center;
  gap: 12px;
  min-width: 65px;
}

.comments .sideMenu.reactsHolder {
  left: calc(100% - 250px);
  transform: unset;
  box-shadow: unset;
}
.sideMenu.reactsHolder {
  position: absolute;
  top: -48px;
  left: 50%;
  padding: 0;
  transform: translateX(-50%);
}

.sideMenu.reactsHolder .reacts {
  margin: 0;
  padding: 5px;
}
.sideMenu.reactsHolder .reacts > * {
  width: 32px;
  height: 32px;
}
.sideMenu.reactsHolder .reacts > svg {
  background: var(--second-section-color);
  color: #656565;
  width: 30px;
  height: 30px;
}
.sideMenu.reactsHolder .reacts > svg:hover {
  background: var(--main-color);
  color: white !important;
}

.post .comment .right {
  gap: 0;
}
.post .comment .bottom .right {
  gap: 6px;
}
.post .comment .emojesCounter p {
  font-size: 17px;
}
.post .bottom .right div {
  display: flex;
  align-items: center;
  gap: 3px;
  color: var(--paragraph-color);
}
.post .bottom .right div svg {
  color: var(--paragraph-color);
}
.post .bottom .right div:first-child svg {
  font-size: 19px;
}

.post .comments {
  padding: 14px;
  padding-right: 0;
}
.post .comments .top {
  border: none;
  padding: unset;
}
.post .comments > .top {
  padding-right: 14px;
}
.post .comments .top h3 {
  color: var(--paragraph-color);
  font-size: 17px;
  font-weight: 500;
}
.post .comments .top svg {
  padding: 0;
  width: 28px;
  height: 28px;
}
.post .comments .top svg:hover {
  background: var(--red-color);
  color: white;
}
.post .comments .holder {
  display: flex;
  flex-direction: column;
  gap: 2px;
  max-height: 449px;
  overflow: auto;
}
.post .comments > .holder {
  padding-right: 14px;
}
.post .comments .holder .comment {
  display: flex;
  gap: 12px;
  border-bottom: 1px solid var(--border-color);
  padding: 10px;
  padding-left: 0;
  padding-right: 0;
}
.post .comments .holder .comment:last-child {
  border: none;
}
.post .comments .holder .comment .image-holder {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.post .comments .holder .comment .image-holder span {
  position: relative;
  height: 100%;
}
.post .comments .holder .comment .image-holder span::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 1px;
  height: 100%;
  background: var(--border-color);
  transform: translateX(-50%);
}
.post .comments .holder .comment .image-holder span::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: var(--border-color);
  transform: translate(-50%, -50%);
}
.post .comments .holder .comment .content img {
  border-radius: 10px;
  cursor: pointer;
  position: relative !important;
  max-height: 110px;
  width: fit-content !important;
}
.post .comments .holder .comment .content h5 {
  margin-top: 5px;
  font-size: 14px;
}
.post .comments .holder .comment .content span {
  color: var(--paragraph-color);
  font-weight: 400;
  font-size: 13px;
  display: flex;
}
.post .comments .holder .comment .content .holder > p {
  font-size: 15px;
  margin: 2px 0 1px;
  line-height: 1.3;
}
.post .comments .holder .comment .bottom {
  border: none;
  padding: 0;
}
.post .comments .holder .comment .bottom .left {
  display: flex;
  align-items: center;
  gap: 6px;
}
.post .comments .holder .comment .bottom svg {
  color: var(--paragraph-color);
  font-size: 18px;
}
.post .comments .holder .comment .bottom button {
  color: var(--paragraph-color);
  font-weight: 500;
  font-size: 12px;
  transition: 0.3s;
}
.post .comments .holder .comment .bottom button:hover {
  color: var(--main-color);
}
.post .comments .holder .comment .content {
  flex: 1;
}

.post .comments .action-holder {
  border-radius: 7px;
  border: 1.5px solid var(--border-color);
  display: flex;
  flex-direction: column;
  margin-right: 14px;
}
.focusedMsg.forPosts .action-holder {
  margin-right: 0 !important;
}
.post .comments .action-holder .top {
  align-items: unset;
}

.post .comments .action-holder .top textarea {
  resize: none;
  padding: 12px;
  flex: 1;
  min-height: 100px;
}
.post .comments .action-holder .top:has(img) textarea {
  padding-right: 0px;
}
.post .action-holder .top img {
  width: 224px;
  border-radius: 8px;
  height: 150px !important;
  margin: 7px;
  object-fit: cover;
}
.post .action-holder .top svg {
  width: 20px;
  height: 20px;
  right: 0;
}
.post .comments .action-holder .actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 13px 7px 10px;
  padding-left: 10px;
  border-top: 1px solid var(--border-color);
}
.post .comments .action-holder .actions .left {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  font-weight: 500;
  color: var(--title-color);
}
.post .comments .action-holder .actions .right {
  display: flex;
  align-items: center;
  gap: 10px;
}
.post .comments .action-holder .actions .right svg:first-child {
  font-size: 16px;
}
.post .comments .action-holder .actions .right svg {
  font-size: 18px;
}
.post .comments .action-holder .actions .right svg:hover {
}
.post .comments .action-holder .actions .right button {
  background: var(--back-grident);
  color: white;
  padding: 11px 15px;
  border-radius: 6px;
  font-weight: 500;
}

.comments .sideMenu.reactsHolder {
  left: calc(100% - 250px);
  transform: unset;
  box-shadow: unset;
}

.focusedMsg .hold {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  max-height: 90%;
}
.focusedMsg .hold.OneImg {
  max-height: 100%;
}
.focusedMsg > img {
  max-width: 80%;
  max-height: 80%;
  border-radius: 7px;
}
.focusedMsg .hold img {
  max-width: 90%;
  max-height: 85%;
}
.focusedMsg .hold.OneImg h5 {
  font-size: 16px;
}

.focusedMsg.forPosts {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  min-width: 100%;
  backdrop-filter: unset;
  background: var(--body-color) !important;
}
body:has(.focusedMsg.active) header,
body:has(.focusedMsg.active) .chats {
  z-index: unset;
}
.focusedMsg .post {
  width: 100%;
  max-width: unset;
  flex-direction: row;
  background: transparent;
  height: 100%;
  justify-content: space-between;
}
.focusedMsg .post .left-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  padding: 20px;
  flex: 1;
}

.focusedMsg .post .left-img .hold img {
  max-width: 100%;
  max-height: 95%;
  border-radius: 7px;
}
.focusedMsg .post .right-info {
  min-width: 31%;
  max-width: 31%;
  display: flex;
  overflow: auto;
  flex-direction: column;
  border-left: 1px solid var(--border-color);
}
.focusedMsg .post .top svg {
  padding: 5px;
}
.focusedMsg .post .top svg:first-child {
  padding: 6px;
}

.focusedMsg .post .middle {
  flex: 1;
}
.focusedMsg .post .comments {
  padding: 0px 0 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.focusedMsg .post .comments .topHolderComments {
  border-bottom: 1px solid var(--border-color);
  margin-bottom: -1px;
  border-radius: 4px;
}
.focusedMsg .post .comments .holder {
  max-height: unset;
  overflow: unset;
  flex: 1;
  display: flex;
  justify-content: center;
}
.focusedMsg .post .comments .holder .comment {
  padding: 10px 0;
}
.focusedMsg .post .comments .holder .comment .image-holder img {
  min-width: 35px;
  height: 40px;
}
.focusedMsg .post .comments .topHolderComments:has(.noCommentsYet) {
  border: none;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.focusedMsg .post .noCommentsYet p {
  font-weight: 500;
  font-size: 15px;
  background: transparent;
  padding: 0;
}

.post .middle > .actions,
.post .bottom > .actions,
.post > .actions {
  position: relative;
  display: flex;
  align-items: center;
  gap: 7px;
  justify-content: center;
}
.post .middle .actions svg,
.post .bottom .actions > div > svg,
.post .bottom .actions > svg,
.post > .actions > div > svg {
  background: var(--section-color);
  width: 70px;
  border-radius: 6px;
  padding: 7px;
  height: 34px;
  color: var(--paragraph-color);
}
.post .middle .action-holder .actions svg {
  padding: 2px;
  width: 21px;
  height: 21px;
  background: transparent;
}
.posts-holder .post .bottom > .actions {
  gap: 4px;
}
.posts-holder .post .bottom > .actions > div {
  display: flex;
}
.posts-holder .post .bottom > .actions > div > svg {
  width: 50px;
  padding: 7px;
}
.posts-holder .post .bottom > .actions > div:nth-child(2) svg {
  padding: 8.3px;
}
.posts-holder .post .bottom > .actions > div:last-child svg {
  padding: 8px;
}

.reactsMenu.MenuOfUsers {
  min-height: 220px;
}
.MenuOfUsers .user {
  padding: 6px 9px !important;
  border-radius: 5px !important;
  cursor: pointer !important;
}
.MenuOfUsers .holder {
  max-height: 173px !important;
}
.MenuOfUsers .topFilter {
  padding: 8px 5px 3px;
  display: flex;
  align-items: center;
  gap: 3px;
}

.MenuOfUsers .topFilter button {
  font-size: 18px;
  font-weight: 500;
  background: #eeeeee;
  border-radius: 5px;
  width: 37px;
  height: 30px;
  color: var(--title-color);
  transition: 0.3s;
}
.MenuOfUsers .topFilter button:hover,
.MenuOfUsers .topFilter button.active {
  background: var(--second-section-color);
}

.post .middle > .actions svg:hover,
.post .bottom > .actions > div > svg:hover,
.post .bottom .actions > svg:hover {
  background: var(--main-color);
  color: white;
}
.focusedMsg .post .swiper .swiper-slide img {
  height: unset;
}
.focusedMsg .post .swiper {
  height: 75px;
}
.focusedMsg .post .left-img .hold {
  padding: 0;
}
.focusedMsg .post .middle > p {
  max-width: 100%;
  background: transparent;
}
.focusedMsg .post .comments p {
  max-width: 95%;
}
.focusedMsg .post .comments .content .holder:has(img) p {
  margin-bottom: 3px !important;
}

.focusedMsg .post .hold {
  max-height: unset;
}
.focusedMsg .post:has(.swiper) .hold {
  max-height: 90%;
}

.reacts {
  display: flex;
  align-items: center;
  gap: 3px;
  margin: 3px 15px 0;
}
.reacts > * {
  min-width: 30px;
  min-height: 30px;
  padding: 2px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.reacts img:hover {
  scale: 1.5;
  transform: translateY(-4px);
}
.reacts > svg {
  padding: 5px;
}
.reacts > svg:hover {
  padding: 6px;
  background: var(--main-color);
  color: white;
}
.sideMenu .reacts {
  margin: 0;
  padding: 5px;
}
.sideMenu .reacts > * {
  width: 32px;
  height: 32px;
}
.sideMenu .reacts > svg {
  background: var(--second-section-color);
  color: #656565;
  width: 30px;
  height: 30px;
  padding: 5px !important;
  min-height: 30px !important;
}
.sideMenu .reacts > svg:hover {
  background: var(--main-color);
  color: white !important;
}
.emoji-holder {
  position: fixed;
  width: fit-content;
  z-index: 101;
  scale: 0.5;
  visibility: hidden;
  opacity: 0;
  transition: scale 0.2s;
}
.emoji-holder.active {
  scale: 1;
  visibility: visible;
  opacity: 1;
}
.actions > div,
.post .right > div {
  display: flex;
  position: relative;
}
.focusedMsg.FormMenu {
  position: fixed;
}
.focusedMsg.active.FormMenu {
  background: #0000003d !important;
}
.focusedMsg .postForm {
  width: 550px;
  height: fit-content;
  max-width: 100%;
  background: var(--body-color) !important;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 12px 20px;
  padding-right: 0;
  border-radius: 7px !important;
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 80%;
  overflow: auto;
}
.focusedMsg .postForm .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  font-size: 20px;
  padding-right: 20px;
}
.focusedMsg .postForm > div {
  display: flex;
  flex-direction: column;
  gap: 7px;
  max-height: 700px;
  overflow: auto;
  padding-right: 15px;
}
.focusedMsg .postForm > div > button {
  color: white;
  padding: 13px;
  border-radius: 10px;
  background: var(--main-color);
  font-size: 15px;
  font-weight: 500;
}
.focusedMsg .postForm p {
  max-width: unset;
  background: unset;
  padding: 0;
  margin: 0;
}

/* Images Holder */
.productImages {
  background-color: var(--section-color);
  padding: 20px;
  width: 100%;
  height: fit-content;
  border-radius: 5px;
  transition: 0.3s;
}
.uploadlabel {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 160px;
  border-radius: 6px;
  align-items: center;
  cursor: pointer;
}
.uploadlabel svg {
  font-size: 95px;
  transition: opacity 0.5s, font-size 0.3s;
  color: var(--main-color);
  margin-bottom: -7px;
}
.productImages:has(.uploaded) .uploadlabel svg {
  font-size: 80px;
}
.productImages:has(.uploaded) .imgHolder {
  margin: 14px 2px;
}
.uploadlabel p {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
  transition: opacity 0.5s, font-size 0.3s;
  color: var(--main-color);
}
.uploadlabel h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  font-size: 30px;
  font-weight: 700;
  font-size: 15px;
  transition: opacity 0.5s, font-size 0.3s !important;
  cursor: pointer;
  color: var(--main-color);
  transform: translate(-50%, -50%);
  width: max-content;
}
.uploadlabel:hover h1,
.uploadlabel.active h1 {
  opacity: 1;
  font-size: 40px;
}
.uploadlabel:hover svg,
.uploadlabel:hover p,
.uploadlabel.active svg,
.uploadlabel.active p {
  opacity: 0;
  font-size: 10px;
}
.uploaded {
  position: relative;
  display: flex;
  height: fit-content;
}
.uploaded div {
  display: flex;
  align-items: center;
}
.uploaded img {
  max-width: unset !important;
  height: 95px !important;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.uploaded svg {
  background: var(--red-color) !important;
  color: white;
  border-radius: 50% !important;
  cursor: pointer;
  padding: 3px !important;
  width: 20px !important;
  height: 20px !important;
  position: absolute !important;
  right: 7px !important;
  top: 7px !important;
  left: unset !important;
}
.imgHolder {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(145px, 1fr));
  gap: 10px;
  margin: 0;
}
.focusedMsg .postForm .uploaded p {
  position: absolute;
  background: #00000099;
  padding: 1px 10px;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  bottom: 7px;
  left: 7px;
}

.focusedMsg .postForm .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  padding-left: 10px;
  border-radius: 5px;
  border: 2px dashed var(--border-color);
}
.focusedMsg .postForm .bottom h4 {
  font-size: 14px;
  text-transform: capitalize;
}
.focusedMsg .postForm .bottom .right {
  display: flex;
  align-items: center;
  gap: 5px;
}
.focusedMsg .postForm .bottom svg {
  width: 30px;
  height: 30px;
  padding: 6px;
  background: var(--section-color);
  border-radius: 5px;
}
.focusedMsg .postForm .bottom svg:hover,
.focusedMsg .postForm .bottom svg.active {
  background: var(--main-color);
  color: white;
}

.focusedMsg .postForm .bottom svg:nth-child(2),
.focusedMsg .postForm .bottom svg:last-child {
  padding: 8px;
}

.usersSelection {
  width: 340px !important;
}
.usersSelection h1 {
  font-size: 18px;
  margin: 10px 15px -2px;
}
.usersSelection .search-chosen {
  background: var(--body-color);
  margin: 10px;
  border-radius: 5px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.usersSelection ul.result {
  display: flex;
  gap: 2px;
  flex-wrap: wrap;
  padding: 10px 10px 0;
}
.usersSelection ul li {
  background: var(--main-color);
  color: white;
  padding: 5px 7px;
  border-radius: 4px;
  font-size: 13px;
}
.usersSelection input {
  border-bottom: 2px solid var(--border-color);
  border-radius: 0;
  padding: 9px 15px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Rubik";
  transition: 0.3s;
}
.pirsonChat .messages .search-chosen:has(.result) input {
  padding: 7px 15px;
}
.usersSelection input:focus,
.usersSelection input:not(:placeholder-shown) {
  border-color: var(--main-color);
}
.usersSelection .mainbtn {
  background: var(--main-color);
  color: white;
  padding: 12px;
  border-radius: 7px;
  font-family: "Rubik";
  font-size: 14px;
  margin: 0 10px 10px;
}
.usersSelection h4 {
  margin: 12px 16px 10px;
  font-size: 14px;
  color: var(--paragraph-color);
}
.usersSelection .holder {
  display: flex;
  flex-direction: column;
  gap: 1px;
  padding: 0 7px 10px;
  overflow: auto;
  max-height: 362px;
}
.usersSelection .holder .chat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 11px;
  border-radius: 7px;
  gap: 10px;
  transition: 0.3s;
  cursor: pointer;
}
.usersSelection .holder .chat:hover {
  background: var(--border-color);
}
.usersSelection .holder .name-lastmessage {
  flex: 1;
}
.usersSelection .holder .name-lastmessage h4 {
  margin: 0;
  color: var(--title-color);
}
.usersSelection .holder .name-lastmessage p {
  font-size: 15px;
}
.usersSelection .holder .chat label {
  display: flex;
  scale: 0.75;
}
.usersSelection .holder .chat label > span {
  border-color: var(--paragraph-color);
}

.inputHolder {
  position: relative;
  width: 100%;
}
pre.placeHolder {
  font-weight: 400;
}
.flash-sale pre.placeHolder {
  margin-bottom: 10px;
}

.placeHolder {
  position: absolute;
  z-index: 1;
  top: 16px;
  left: 19px;
  font-size: 13px;
  font-weight: 400;
  transition: 0.3s;
  color: var(--paragraph-color);
}
.FormMenu .inputHolder input:focus {
  padding: 14px 19px 0;
}
.inputHolder input {
  padding-left: 40px;
}
.inputHolder .holder textarea {
  height: 100%;
  font-size: 15px;
  padding: 15px 40px 15px 19px;
  letter-spacing: 0.7px;
  line-height: 1.3;
}
textarea::placeholder {
  font-weight: 400;
  font-size: 15px !important;
  font-family: "Rubik" !important;
  color: var(--paragraph-color) !important;
  letter-spacing: 0.7px !important;
}
.inputHolder input::placeholder,
.inputHolder textarea::placeholder {
  transition-delay: 0.3s;
}
.inputHolder input:focus::placeholder,
.inputHolder textarea:focus::placeholder {
  transition-delay: 0s !important;
  color: transparent;
}
.inputHolder:has(input:focus) h6.placeHolder,
.inputHolder:has(textarea:focus) h6.placeHolder {
  top: 7px;
  font-size: 12px;
  color: var(--main-color) !important;
}
.FormMenu .inputHolder input:not(:placeholder-shown) {
  padding: 14px 19px 0;
}

.inputHolder:has(input:not(:placeholder-shown)) h6.placeHolder,
.inputHolder:has(textarea:not(:placeholder-shown)) h6.placeHolder {
  top: 7px;
  font-size: 12px;
  color: var(--paragraph);
}
.inputHolder.notvalid:has(input:focus) h6.placeHolder,
.inputHolder.notvalid:has(textarea:focus) h6.placeHolder {
  color: #c81d1d !important;
  letter-spacing: 0.7px;
  font-weight: 600;
}
.inputHolder input::placeholder,
.inputHolder textarea::placeholder {
  color: var(--paragraph);
}
.inputHolder span svg,
.selectHolder .error svg,
.specificHolder .error svg {
  color: #c81d1d;
}
form button.remove {
  display: flex;
}
form button.remove svg {
  font-size: 15px;
}
form button.remove svg:hover {
  color: var(--red-color);
}
.inputHolder .holder {
  position: relative;
  overflow: hidden;
}
.inputHolder .holder:has(textarea) {
  height: 120px;
  overflow: unset;
}
.tags .holder {
  border-radius: 7px 50px 50px 7px;
}
.inputHolder .holder > svg {
  color: var(--paragraph);
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  font-size: 17px;
}
.inputHolder .holder:has(textarea) > svg {
  right: 7px;
  left: unset;
  background: #dddddd;
  color: var(--title-color);
  top: 26px;
  width: 35px;
  height: 35px;
  padding: 7px;
  border-radius: 6px;
}
.inputHolder .holder > svg.eye {
  left: unset;
  right: 14px;
  top: 12px;
  cursor: pointer;
  padding: 6px;
  width: 30px;
  height: 30px;
}
.inputHolder input,
.inputHolder textarea,
.tagsHolder,
.specificHolder {
  width: 100%;
  position: relative;
  outline: none !important;
  background: var(--section-color);
  height: 46px;
  padding: 0 19px;
  resize: none;
  border: none;
  color: var(--title-color);
  font-size: 15px;
  transition: padding 0.3s;
  border-radius: 7px !important;
}

.inputHolder.password input {
  padding-right: 40px;
}
.inputHolder .holder::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 1px;
  width: 0%;
  height: 1px;
  z-index: 1;
  transition: 0.5s;
  transform: translateX(-50%);
  background: var(--main-color);
}
.inputHolder .holder:has(textarea)::before {
  bottom: 3px;
}
.inputHolder.notvalid .holder::before {
  background: #c81d1d;
}
.inputHolder .holder:focus-within::before {
  width: 100%;
}
.inputHolder span,
.selectHolder .error,
.specificHolder .error {
  color: #c81d1d;
  font-size: 14px;
  margin-top: 6px;
  letter-spacing: 0.7px;
  text-transform: capitalize;
  margin-left: 5px;
  display: flex;
  gap: 5px;
  font-weight: 500 !important;
}
.inputHolder.tags .holder {
  width: 50%;
}
.inputHolder:has(.tagsHolder) {
  display: flex;
  gap: 7px;
  flex-direction: column;
}
.tagsHolder {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
  min-height: 46px;
  height: fit-content;
  padding: 10px;
}
.tagsHolder::-webkit-scrollbar {
  height: 6px;
  border-radius: 10px;
}
.tagsHolder .tag {
  display: flex;
  align-items: center;
  gap: 2px;
  background: var(--second-section-color);
  border-radius: 5px;
  padding: 6px 10px;
  padding-right: 6px;
}
.tagsHolder .tag span {
  font-size: 13px;
  margin: 0;
  color: var(--title-color);
  width: max-content;
}
.tagsHolder .placeHolder {
  color: var(--paragraph-color);
}
.inputHolder.tags input {
  padding-right: 70px;
}
.inputHolder.tags .holder > button {
  position: absolute;
  right: 0px;
  height: 46px;
  padding: 0 22px 0 18px;
  background: var(--back-grident);
  color: white;
  font-weight: 500;
  font-size: 14px;
  text-transform: capitalize;
}
.inputHolder.tags.link .holder {
  width: 100%;
}
.mentionsHolder {
  background: var(--section-color);
  gap: 0;
}

body:has(.sideMenu.active) > main > .holder {
  overflow: hidden;
  padding-right: 6px;
}

body:has(.sideMenu.active) .holder:has(.pirsonChat) .messages {
  overflow: hidden;
  padding-right: 0px !important;
}

.mentionsHolder h4 {
  margin: 10px;
  font-size: 15px;
  margin-bottom: -10px;
  font-weight: 500;
}

.userInfo.sideMenu {
  background: var(--body-color);
  padding: 15px;
  width: 340px;
  gap: 10px;
  z-index: 101;
}
.userInfo.sideMenu img {
  position: relative !important;
  width: 100px !important;
  height: 100px !important;
}

.userInfo.sideMenu .info {
  width: 100%;
}
.userInfo.sideMenu .holder {
  display: flex;
  gap: 12px;
}
.userInfo.sideMenu img {
  position: relative !important;
  width: 85px !important;
  height: 85px !important;
}

.userInfo.sideMenu .info .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.userInfo.sideMenu .info > p {
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 8px;
  margin-top: -2px;
}
.userInfo.sideMenu .info > h5 {
  margin-bottom: 1px;
  font-weight: 700;
  font-size: 15px;
}
.userInfo.sideMenu .info .top h4 {
  font-size: 18px;
}
.userInfo.sideMenu ul {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.userInfo.sideMenu .info ul li {
  font-size: 14px;
  color: var(--title-color);
  font-weight: 500;
}
.userInfo.sideMenu .info ul span {
  color: var(--paragraph-color);
  font-weight: 500;
}
.userInfo.sideMenu .actions {
  display: flex;
  align-items: center;
  gap: 6px;
}
.userInfo.sideMenu .actions > *:last-child {
  margin-left: auto;
}
.userInfo svg.close {
  width: 27px;
  height: 27px;
}

@media (max-width: 1700px) {
  .post {
    max-width: 52%;
    min-width: 52%;
  }
  .focusedMsg .post .right-info {
    min-width: 35%;
    max-width: 35%;
  }
}
@media (max-width: 1600px) {
  body:has(.chats.active) main header nav svg {
    display: none;
  }
  .post {
    max-width: 56%;
    min-width: 56%;
  }
  .focusedMsg .post .left-img .hold img {
    max-width: 98%;
    max-height: 100%;
  }
}
@media (max-width: 1500px) {
  header nav a {
    padding: 14px 11px;
  }
  .post {
    max-width: 61%;
    min-width: 61%;
  }
  .focusedMsg .post .right-info {
    min-width: 37%;
    max-width: 37%;
  }
}
@media (max-width: 1400px) {
  .post {
    max-width: 66%;
    min-width: 66%;
  }
  .focusedMsg .post .right-info {
    min-width: 39%;
    max-width: 39%;
  }
}
@media (max-width: 1300px) {
  header nav a {
    padding: 11px 12px;
  }
  .search-holder input {
    width: 118px;
  }
  .search-holder input:focus,
  .search-holder input:not(:placeholder-shown) {
    width: 140px;
  }
  header .logo img {
    margin: -4px 0 -4px -3px;
  }
  .focusedMsg .post .right-info {
    min-width: 40%;
    max-width: 40%;
  }
}
@media (max-width: 1200px) {
  body:has(.chats.active) main header nav svg {
    display: flex;
    font-size: 25px;
  }
  header nav a {
    padding: 8px 15px;
  }
  body:has(.chats.active) main header nav span {
    display: none;
  }
  .post {
    max-width: 75%;
    min-width: 75%;
  }
  .focusedMsg .post .right-info {
    min-width: 43%;
    max-width: 43%;
  }
}
@media (max-width: 1100px) {
  header nav a {
    padding: 8px 9px;
  }
  .chats {
    width: 300px;
  }
  .chats .chat .name-lastmessage p {
    width: 162px;
  }
  .post {
    max-width: 81%;
    min-width: 81%;
  }
}
@media (max-width: 992px) {
  body {
    padding: 10px;
    padding-right: 0;
  }

  header {
    margin-right: 0;
  }
  .chats {
    width: 270px;
  }
  .chats .chat .name-lastmessage p {
    width: 131px;
  }
  header .logo img {
    width: 35px;
    height: 35px;
  }
  .chats {
    height: 98vh;
  }
  body main header nav span {
    display: none;
  }
  header nav a svg {
    font-size: 25px;
  }
  .chats .filters li {
    font-size: 13px;
  }
  .chats .filters li svg {
    min-width: 18px;
  }
  header .search-holder {
    position: absolute;
    top: 0;
    width: 99%;
    left: 0px;
    transition: 0.3s;
    visibility: hidden;
    z-index: -1;
    opacity: 0;
  }
  header .search-holder.active {
    visibility: visible;
    z-index: 10;
    opacity: 1;
    top: 53px;

    background: white;
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: 7px;
    padding: 7px;
    height: fit-content;
  }
  header .search-holder .theInput {
    position: relative;
  }
  .search-holder input {
    width: 100%;
    padding: 9px 33px 9px 34px;
  }
  .search-holder input:focus,
  .search-holder input:not(:placeholder-shown) {
    width: 100%;
  }
  header .logo .icons {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  header .logo .icons svg {
    display: flex;
    font-size: 26px;
    width: 35px;
    height: 35px;
    padding: 4px;
    color: #686868;
    transition: 0.3s;
    border-radius: 6px;
    border: 1px solid #e1e1e1;
  }
  header .logo .icons svg.active {
    border: none;
    color: white;
    background: var(--back-grident);
  }
  header .logo .icons svg:first-child {
    padding: 8px;
  }
  header .events > li {
    width: 35px;
    height: 35px;
  }
  body:has(.chats.active) header nav {
    position: relative;
    transform: unset;
    left: unset;
  }
  .chat-page > img {
    width: 100%;
  }
  .posts-holder {
    margin-top: 0;
  }
  .post {
    max-width: 100%;
    min-width: 100%;
  }

  .post .middle {
    padding: 2px 10px;
  }
  .focusedMsg .post .right-info {
    max-width: 100%;
    min-width: 100%;
  }
  .focusedMsg .post .left-img {
    padding: 0;
  }
  .focusedMsg .post .middle > p {
        font-size: 18px;
        padding: 2px 4px;
  }
  .focusedMsg .post:has(.swiper) .hold {
    max-height: 750px;
  }
  .focusedMsg .post .swiper {
    padding: 3px 10px;
  }
  .focusedMsg .postForm {
    width: 85%;
  }
}

@media (max-width: 786px) {
  body {
    padding: 0;
    overflow: unset;
  }
  body > main > .holder {
    overflow: unset;
    position: unset;
    max-height: unset;
  }
  body:has(.chat-page) header {
    display: none;
  }
    body:has(header.active) > main {
    padding-top: 60px !important;
  }

  header {
    position: fixed;
    gap: 0;
    top: 0;
    margin: 0;
    padding: 9px 11px 9px 16px;
    width: 100%;
    flex-direction: column;
  }
  header.hidden {
    top: -60px;
  }

  header:has(.search-holder.active).hidden,
  header:has(nav.active).hidden {
    top: 7px;
  }
  header .logo {
    width: 100%;
    justify-content: space-between;
  }
  header .events {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 9px;
    gap: 18px;
    justify-content: center;
    outline: 2px solid var(--border-color);
    gap: 15px;
    background: var(--body-color);
  }
  body main header nav {
    width: 86%;
    height: 0;
    overflow: hidden;
    justify-content: center;
    opacity: 0;
    transition: 0.3s;
    position: relative;
    left: unset;
    transform: unset;
  }
  body main header:has(nav.active) {
    gap: 10px;
  }
  body main header nav.active {
    height: 37px;
    overflow: unset;
    opacity: 1;
  }
  header nav a {
    flex: 1;
    justify-content: center;
    padding: 6px 9px;
  }
  header .events > li.user:has(.menu.active) > svg {
    right: -3px;
    top: -2px;
    padding: 8px;
  }
  header .events .menu {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    bottom: 45px;
    top: unset;
  }
  header .events .menu.active {
    bottom: 55px;
    top: unset;
  }

  .chat-page {
    height: 100%;
    justify-content: unset;
  }
  .chat-page .chats {
    margin: 0;
    padding: 13px 0 0;
  }
  .chat-page .chats .chat {
    width: unset;
  }
  .chat-page .chats .chat .name-lastmessage {
    flex: 1;
  }
  .chat-page .chats .chat img {
    width: 45px;
    height: 45px;
  }
  .chat-page .chats .filters li {
    width: 33px;
  }
  .chat-page .chats .filters li {
    font-size: 16px;
  }
  .chat-page .chats .filters li svg {
    min-width: 20px;
  }
  .chat-page .chats .chat .name-lastmessage p {
    width: 100%;
  }
  .posts-holder {
    padding: 0 10px;
  }
  .post {
    padding-bottom: 6px;
  }
  .post > .actions {
    padding: 0 12px 5px;
  }
  .post > .actions > div {
    display: flex;
    width: -webkit-fill-available;
  }
  .post > .actions > div > svg {
    width: 100%;
    padding: 6px;
    height: 31px;
  }
  .post > .actions > div:nth-child(2) > svg {
    padding: 7px;
  }
  .post .images.small img {
    width: 48.3% !important;
    max-height: 160px;
  }
  .post .images.mid img {
    width: 49% !important;
    max-height: 160px;
  }
  .post .images.big img:first-child,
  .post .images.big img:nth-child(2) {
    width: 49% !important;
  }
  .post .images.big img {
    width: 32% !important;
    max-height: 122px;
  }
  .post .comments {
    padding: 10px;
    padding-right: 0;
  }
  .post .comments .action-holder .actions {
    padding: 6px;
  }
  .post .comments .action-holder .actions .left {
    font-size: 11px;
    line-height: 1;
  }
  .post .comments .action-holder .actions .right button {
    padding: 11px 11px;
    width: max-content;
    font-size: 12px;
  }
  .post .comments .action-holder .actions .right {
    gap: 8px;
  }
  .post .comments .holder .comment {
    gap: 8px;
  }

  .focusedMsg .post .comments {
    padding: 0;
  }
  .focusedMsg .post .left-img {
    padding: 0;
    margin-bottom: 6px;
  }
  .focusedMsg .post .left-img {
    gap: 6px;
  }
  .focusedMsg .post .swiper {
    height: 58px;
    padding: 3px 7px;
  }
  .post .comments .holder .comment .content .holder > p {
    padding: 8px 10px;
    font-size: 14px;
  }
  .focusedMsg .post .middle > p {
    padding: 4px;
    font-size: 16px;
  }
  .focusedMsg .post:has(.swiper) .hold {
    max-height: 560px;
  }
  .focusedMsg .post .middle {
    padding: 2px 10px 10px;
  }
  .focusedMsg .post .middle > .actions svg {
    width: -webkit-fill-available;
    padding: 7px;
    height: 36px;
  }
  .posts-holder .post .bottom > .actions > div > svg {
    width: 36px;
    height: 28px;
    padding: 5px;
  }
  .posts-holder .post .bottom > .actions > div:last-child svg {
    padding: 5px;
  }
  .posts-holder .post .bottom > .actions > div:nth-child(2) svg {
    padding: 6px;
  }
  body:has(.focusedMsg.active) {
    overflow: hidden;
  }
  .posts-holder .post .bottom {
    padding-bottom: 4px;
    padding-top: 0;
    border-bottom: 1px solid var(--border-color);
    border-top: unset;
  }
  .focusedMsg .post .bottom {
    padding: 9px 14px 8px;
  }
  .actions > div {
    width: -webkit-fill-available;
  }
  .sideMenu.reactsHolder {
    transform: unset;
  }
  .comments .sideMenu.reactsHolder {
    left: calc(100% - 200px);
  }
  .focusedMsg .postForm {
    width: 100%;
  }
  .focusedMsg .postForm > div {
    max-height: unset;
    overflow: unset;
  }
  body > main > .holder {
    padding-right: 0px !important;
  }
  .uploaded {
    position: relative;
    display: flex;
    height: -moz-fit-content;
    margin: 8px;
  }
  .post .action-holder .top img {
    width: 135px;
    border-radius: 8px;
    height: 100% !important;
    object-fit: cover;
    margin: 0;
    height: unset;
    max-height: 100px;
  }
}
@media (max-width: 500px) {
}
@media (max-width: 360px) {
}
